[2015-04-18 16:38] thednp opened #2 "IE issues with colors"

[2015-04-18 17:43] thednp commented on #2
Fixed, preparing to commit.

[2015-04-18 17:43] #2 closed

[2015-04-30 19:59] thednp opened #5 "Performance drops after a few animation cycles"
I am currently working on moving all little functions to prototype root, but I think it's not the cause.

I have to investigate.

[2015-05-03 01:47] thednp commented on #5
Thanks to @dalisoft we have a great fix, thank you for your super duper cool PR https://github.com/thednp/kute.js/pull/7

[2015-05-03 01:47] #5 closed

[2015-10-25 13:59] leolo69 opened #8 "Getting to know kute.."
Hello,
as promised i took a look at kute.js and i find it very interesting indeed.
i'm trying to use kute.js but already run into some problems, which are certainly user related errors. :-)

1.) anonymous function calls
i tried something like complete:function(){..do something ..} ... but apparently you have to call a specific function by name .. am i right?

2.) complete event fires before real e

[2015-10-25 14:18] thednp commented on #8
1. try something like `complete: functionName` and define the function
elsewhere
2. when you define callbacks as options, you cannot specify arguments,
specify arguments in the function definition
3. check the documentation, some methods from tween.js have been dropped to
simplify the code.

Thanks for the heads up and let me know how it goes :)

On Sun, Oct 25, 2015 at 3:59 PM, leolo69 <notificat

[2015-10-25 14:55] thednp commented on #8
Question: do you think we should manage callbacks via methods? like tweenjs does?

[2015-10-25 16:48] leolo69 commented on #8
Thanks for the quick response.

Callbacks via methods could be nice.Also the possibility to pass arguments would be a good thing.

is there a specific order and amount of parameters for the kute tween?

when i do
KUTE.fromTo($target,{left:0},{left:-300},{delay:3000},{complete:showText}).start();

it delays 3 seconds but does not call the function.

but by deleting the delay part the complete-funct

[2015-10-25 18:06] thednp commented on #8
Not possible, see a working example here.
http://codepen.io/thednp/pen/xwqYbX/

[2015-10-25 18:08] leolo69 commented on #8
sorry .. you're right ... delay and callback should be inside the same brakets ... thanks a lot!

[2015-10-25 18:11] thednp commented on #8
Yea, you found it! So yes, the synthax is a bit different than what you used to, maybe GSAP?

[2015-10-25 18:14] leolo69 commented on #8
Yes, GSAP, but as some ad publisher still are way to "allergic" to kilobytes i try everything to reduce filesize .. thank you again.

[2015-10-25 18:16] thednp commented on #8
You're welcome, and anytime you need help.

[2015-10-25 19:44] leolo69 commented on #8
yeah did it ... the banner is running ... nearly ... i'm again fighting my best buddy ie9
i'm using only movement "left" and opacity. is there a reason why it doesn't work in ie 9?
i read, that kute.js has to know the actual browser. i thought this was only necessary when using 3d transformations/rotations. do i have to use a special ie9-css ?
don't answer me tody .. take your time... have a nice

[2015-10-25 20:01] thednp commented on #8
IE9 doesn't support 3d transformations, only 2d. To target IE9 via JS and without conditional tags in the head, the best would be `var isIE9 = (!window.atob);` but when using a complete polyfill would make IE9 aware of what's `window.atob` and you cannot target the browser properly. An even better, without conditionals could be this http://stackoverflow.com/a/31293352

[2015-10-25 20:16] thednp commented on #8
I have a question, do you wrap those ads in iframes by any chance?

[2015-10-25 20:24] leolo69 commented on #8
yes, i test the ad inside a codepen-iframe. so i have the possibility to do some crossbrowsertesting as i'm working on an apple mac.

[2015-10-26 06:16] thednp commented on #8
Well, currently codepen does not allow you to change the class of the `html` tag via conditionals, but you can do the conditionals in the context, then update the html class later, just before invoking KUTE. Let me try to explain:

[code]

The next natural phase would be to gather info and cache all the needed environment data, but for now, let's focus on what we have. We have the `<div id="my-ads

[2015-10-26 08:28] thednp commented on #8
I think I have an idea to change KUTE.js internal code so it detects browsers without the HTML class, the http://browserhacks.com site shows an example that's so cool, I think I'm gonna use it.

[code]

[2015-10-26 08:34] leolo69 commented on #8
that sounds good ... thank you very much for your support. later i will try your first solution. as i'm coming from the webdesign side programming is not really my biggest skill. ;-)

[2015-10-26 08:41] thednp commented on #8
Let's close this down for now :)

[2015-10-26 08:41] #8 closed

[2015-10-26 09:52] thednp commented on #8
FYI: I am updated the way KUTE.js detects the browser, you can re-download and check again. Now your code should be more simple:

In your code, instead of checking for `className`
[code]

Now you should do this:

[code]

Then target the browsers with properties they support. I am now updating documentation.

[2015-10-26 09:53] leolo69 commented on #8
nice!

[2015-10-27 11:52] leolo69 commented on #8
hi there, just one additional questions ... as publishers often forbid external references i wonder if there's a way to avoid "https://cdn.polyfill.io/v2/polyfill.js?features=default,getComputedStyle|gated" or to load it locally? by reading the polyfill documentation i doubt it but maybe who knows ;-)

[2015-10-27 11:58] thednp commented on #8
Yes, use this https://github.com/thednp/minifill it's all the polyfill KUTE.js needs to work on legacy browsers.

[2015-10-27 12:12] leolo69 commented on #8
great! your'e my hero. the minified minifill version doesn't seem to work with ie9 but the big one does. what a relief. keep the good work and very kind assistance!

[2015-10-27 12:27] thednp commented on #8
Let me try to minify that flle again. Could be a problem with the minify script,

[2015-10-27 12:28] leolo69 commented on #8
just did it with an online compressor .. now it works .. thank you very much!!!!

[2015-10-27 12:29] thednp commented on #8
What was the error and your compressor of choice please?

[2015-10-27 12:36] leolo69 commented on #8
frist i took out all the comments manually, because sometimes compressors mess with tat. than i added your license line. you can find the compressor on http://refresh-sf.com/

[2015-10-27 12:39] thednp commented on #8
Something is wrong and I cannot figure it out.

Linking this works
[code]
but this doesn't

[code]

With exact same contents.

[2015-10-27 12:42] leolo69 commented on #8
strange ... you don't image how often i wish i had become a pizza maker due to my italian roots rather than loosing sleep over bytes and endless browserbugs ;-)

[2015-10-27 12:45] thednp commented on #8
Should work for you as well, maybe you had a typo somewhere.

[2015-10-27 12:47] leolo69 commented on #8
Thanks again

[2015-10-30 09:08] thednp commented on #8
Well then, how did it go?

[2015-10-30 09:17] leolo69 commented on #8
Hi, here's a link. as i'm using codepen only for crossbrowsertesting purpose i put my banner into an iframe construction (publisher alike). the ad is still "work in progress" and no big deal. only an html5 adaption of a flash ad a befriended flash designer did a year ago.

[2015-10-30 09:18] leolo69 commented on #8
24kb of filesize kut.min.js+minifill.min.js ... great job...!

[2015-10-30 09:20] leolo69 commented on #8
by leaving "// KUTE.js | dnp_theme | MIT-License" in the javascript file your license agreement should be respected.. am i right?

[2015-10-30 11:24] thednp commented on #8
Yes, that is fine, but you didn't share a link to your pen, you made me curious :)

[2015-11-17 10:07] leolo69 opened #10 "svg fill"
Hello again,
just a quick question. can i use kute to animate the polygon fill of a svg? i didn't find it in your documentation. so maybe you have an idea. :-)

thanks again
alex

[2015-11-17 10:33] thednp commented on #10
This isn't yet supported.

[2015-11-17 10:35] leolo69 commented on #10
Good to know. Thanks for the quick response.

[2015-11-17 10:35] #10 closed

[2016-01-21 17:12] thednp opened #12 "To do for 1.5.0"
I've stumbled upon a certain set of missing points:
* lack of support for `transformOrigin` property (I mistakenly though it's same with `perspectiveOrigin`) but luckily the [GURUs](http://stackoverflow.com/a/18725758) explain the diffs
* improve render functions performance
* remove the deprecated `KUTE.Animate()` method
* add methods for collections of elements
* all additional scripts are broke

[2016-02-07 17:04] thednp commented on #12
https://github.com/thednp/kute.js/commit/12512274aa5815ce21eed972f2ae438b1851cdd7

[2016-03-22 20:33] thednp commented on #10
Just a quick update, you now have a SVG plugin, go to the demo site and check it out.

[2016-03-24 12:33] thednp commented on #12
The [last commit](https://github.com/thednp/kute.js/commit/2564472f530113e7a34506f587d4c1288184daf1) for 1.5.0.

[2016-03-24 12:33] #12 closed

[2016-04-06 21:32] thednp opened #21 "The property utility method isn't working on minified file"
I figured there seem to be a problem with the minified `kute.min.js` file regarding the `KUTE.property()` method.

[2016-04-06 21:40] thednp commented on #21
Nope, it's because I added the script to the site's `<head>` instead of body.

[2016-04-06 21:40] #21 closed

[2016-04-27 10:39] leolo69 opened #22 "No more scale-tween after udating to kute.min.js 1.5.0"
Hello,
as i wanted to implement i newer version of your awsome tween-engine i encountered a problem. the scale property does not behave as before. it's not scaling and the positioning animation (translateX as well as translate:[x,y]) is really jerky.

That's my code and i left the minifill.min.js in my html.
 KUTE.fromTo($ameisen,{translate:[20,50],opacity:.6,scale:1.3},{translate:[0,0],opacity:1,

[2016-04-27 12:15] thednp commented on #22
Yes, there is a small fix I applied to fix the scale, and the translate:[x,y] is not working properly with `to()` method only when the current value is something like `translateX` or `translate3d`.

Download the pack and use the UNMINIFIED file for a test.

[2016-04-27 12:23] leolo69 commented on #22
yes, the unminified version does the trick. so i'll minify it then.
thanks

[2016-04-27 12:27] thednp commented on #22
Yes, until all the other potential bugs, we're not rolling a new version yet.

[2016-04-27 12:30] leolo69 commented on #22
are there any other known bugs i should know of before i use it in client projects?

[2016-04-27 12:32] thednp commented on #22
Nothing I am aware of, everything tested and I pointed out MY issue with translate.

[2016-04-27 12:33] leolo69 commented on #22
super .. then .. i noticed the .to problem a while back and only used fromTo...

thanks

[2016-04-27 12:36] thednp commented on #22
Again, do you have a test site or perhaps some fiddle to better describe the translate issue you have encountered? I will probably have to write a debugging documentation chapter about.

[2016-04-27 12:48] leolo69 commented on #22
http://codepen.io/leolo/pen/PNdrax

her you can see the scale and translate problem with the minified verion

[2016-04-27 12:56] leolo69 commented on #22
the new minified version works. when i encounter the translate problem i'll let you know.

[2016-04-27 14:58] thednp commented on #22
Alright, let's close this down for now.

[2016-04-27 14:58] #22 closed

[2016-05-04 12:51] willstott101 opened #23 "No version in minified code."
Most JS libraries have the version in their header.

Found myself a bit confused as to what version I had actually downloaded.

Cool library btw, looking forward to using it.

[2016-05-04 12:58] thednp commented on #23
You can have a look at the [releases](https://github.com/thednp/kute.js/releases) page, the master and the demo (gh-pages repository) are always the latest SVN code.

[2016-05-04 12:58] #23 closed

[2016-05-12 03:38] df257 opened #24 "It looks very good!"
And it's very looks like greensock, but greensock need money

[2016-05-12 09:55] thednp commented on #24
Thanks, well it's a small project, growing slowly but surely.

[2016-05-12 09:55] #24 closed

[2016-06-10 09:44] jackkwong opened #25 "Support for functionality similar to TimelineMax?"
thank you for this great library, the demo looks promising and very good alternative to GSAP, wonder what's the recommended way in kute.js to create animation that requires overlapping of tweens
(eg. from 0s to 5s, change width of object A from 20px to 100px, and from 2s to 4s, change color of Object A from red to blue)

[2016-06-10 10:03] thednp commented on #25
It doesn't have a timeline script if that's what you ask for. I think checking all demo and documentation pages will really clear your mind.

[2016-06-10 10:03] #25 closed

[2016-06-10 10:50] jackkwong commented on #25
@thednp thank you for the response. Appreciate your moral not to duplicate functionality from other code authors, while animation timeline is a great complexity by itself and seems like a good problem for a animation framework to address to (I'll certainly be happy to see it addressed by KUTE.js).

Thank you for your time, I was wondering why the functionality is not documented since it seems to e

[2016-06-10 11:53] thednp commented on #25
@dalisoft committed the timeline script as a starting point for further projects. It works fine for some properties, but for `transform`, so far the current DOM update script is unable to handle independent transforms, which is a unique GSAP Timeline functionality. Again something needs to be done here in a way we don't copy code from GSAP but bring further innovation and / or usability to the tab

[2016-06-11 12:54] dalisoft commented on #25
I recommend `.chain()` method, because it works fine. Other way, there will be some timing error. As i contributor of KUTE.js, i can't just steal `TimelineMax` timing hack. Author of this app (KUTE.js) is maked app yourself, included only MIT-Licensed apps as plug-in with credits.
I hope if all browsers when fixes `requestAnimationFrame visiblity change timing error`, we can use my plug-in name ca

[2016-06-11 15:39] jackkwong commented on #25
@thednp @dalisoft: thank you for the good work guys. That's certainly a feat (it even support SVG Morphing)

I've been evaluating multiple animation frameworks for my next project (a single-page application btw), and I have to say KuteJS is one of the best libraries I've seen in the aspect of friendly documentation and well-deigned api, and the work for supporting old browsers is certainly appreci

[2016-06-11 16:43] thednp commented on #25
@jackkwong as long as you don;t need independent transforms (tweens with different transform props running in paralel for same element), you don't need a timeline script, as @dalisoft also confirms the `.chain()` method is the way to go.

[2016-06-20 17:04] thomasboulongne opened #26 "Can't use in ES6 - SVG Plugin"
Hi,

I encounter issues in my ES6 project. When I require Kute.js and then the SVG plugin, here what the console outputs (without calling Kute):
`kute-svg.js:26 - Uncaught TypeError: Cannot read property 'selector' of undefined`
(the plugin does not know Kute).
And when I fix that, this happens:
`kute.js:37 - Uncaught TypeError: Element not found or incorrect selector: path`
(still without calling

[2016-06-20 21:03] thednp commented on #26
I don't think it's an ES6 standards issue, the UMD have been implemented by a friend of mine @IngwiePhoenix, and he isn't available at the moment to have a look at it, so I'm open to any contribution of any kind for this.

Still, is the `path` an actual selector? The second error triggers when KUTE.js cannot find your element. Perhaps moving your code to your site's `body` would fix this. Please t

[2016-06-28 17:25] selfagency opened #27 "Uncaught TypeError"
Just tried using KUTE for the first time and I get this error on page load. I haven't done anything yet except put script tags linking to the JS in my header.

[code]

[2016-06-28 23:10] thednp commented on #27
Move your JS to the footer. the demo/docs talks about that.

[2016-06-28 23:10] #27 closed

[2016-06-29 07:24] #26 closed

[2016-08-14 06:32] thednp opened #28 "New possible feature: add support for more shapes for `draw` property of SVG plugin"
Since we only need a way to measure the total length of a shape, it might be a good idea to extend the SVG plugin in that direction.

[2016-08-18 09:08] Eclektic opened #29 "Element not found or incorrect selector: path"
Hi,

I try to test this library for svg manipulations. After library and plugin loaded ->
[code]

I have this error in my console "Element not found or incorrect selector: path", this error happen only when the svg plugin is loaded.

Thanks for the help.

[2016-08-18 09:33] Eclektic commented on #29
ok I try to setup it on codepen ->
http://codepen.io/anon/pen/bZkPwv

The error is present but the simple morph exmple of the doc seem to work properly. In my case I can't make this demo work.

In this project I work with angular 2, from my component I'm able to access to KUTE but when I try to start an animation nothing happens.

`this.tween = KUTE.fromTo('#rectangle', {path: '#rectangle' }, { pa

[2016-08-18 09:51] Eclektic commented on #29
Here's a plunker with the issue

https://plnkr.co/edit/S98TV49MJmlGKZlvKK7H?p=preview

[2016-08-18 10:48] thednp commented on #29
Move your JS to the footer man.

[2016-08-18 10:54] thednp commented on #29
Try to move your tween `var tween = KUTE.to('#rectangle', { path: '#star' }).start();` below the `kute-svg.min.js` script, it should be fine.

[2016-08-18 12:21] Eclektic commented on #29
Thanks for the reply.

But as you can see in the plunker I work with Angular2 (who handle dependency injection). I need to manipulate svg (use of KUTE) from my component.
All KUTE js are loaded fine via tag script (index.html) then I can access KUTE object from my component (src/app.ts), if I print my tween at this time I got ->

`e.Tween {_el: path#rectangle, _vSR: Object, _vS: Object, _vE: Objec

[2016-08-18 12:33] thednp commented on #29
My experience with Angular is ZERO, but still I want to know more. Show me the code where you define the tween object.

[2016-08-18 12:37] Eclektic commented on #29
https://plnkr.co/edit/S98TV49MJmlGKZlvKK7H?p=preview
In "src/app.ts" ->

`//our root app component
import {Component, NgModule} from '@angular/core'
import {BrowserModule} from '@angular/platform-browser'

declare var KUTE;

@Component({
  selector: 'my-app',
  template: `
    <div>
      <h2>Hello {{name}}</h2>
      <button (click)="test()">MORPH</button>
      <svg id="morph-example" xmlns="htt

[2016-08-18 12:39] Eclektic commented on #29
You can see in the template (In the "@Component") my <svg>, and a button with the function test() binded to it on click event.

[2016-08-18 12:45] thednp commented on #29
OK. The angular stuff tries to do it's work on document render as I understand, KUTE.js will animate anything that's already existing in the DOM, so try to wrap the click action in `angular.element(document).ready()`.

http://stackoverflow.com/questions/18646756/how-to-run-function-in-angular-controller-on-document-ready

[2016-08-18 13:06] Eclektic commented on #29
It's an angular 1.x way to do this in angular 2.x you have to use specific method (described here https://angular.io/docs/ts/latest/guide/lifecycle-hooks.html, implements onInit or ngAfterContentInit or others).

I have updated the plunker this way. But still no animation.

[2016-08-18 13:13] thednp commented on #29
The error is not there but animation does not occur because the `_vS` and `_vE` (valuesStart and valuesEnd objects) are not populated with any SVG path points. We need to investigate that.

[2016-08-18 13:17] thednp commented on #29
Please try to change the angular scripting to make it work with this HTML

[code]

[2016-08-18 13:31] Eclektic commented on #29
If I try this way -> "Element not found or incorrect selector: #rectangle"

And it's normal in angular, I have to do all manipulation from the component class. When index.html is loaded (and the script with it) my view isn't rendered (no svg).

[2016-08-18 13:44] thednp commented on #29
IMO you should get rid of this angular stuff, the `template` isn't there in the DOM when KUTE.js initializes, or the tween object is not properly built even if the element is in the DOM.

My final note before I close this: please try to order the code execution in a way that we have the HTML5 scripting done properly:
* HTML render
* HTML Angular template rendering
* JS execution

Since I don't use

[2016-08-18 13:56] Eclektic commented on #29
OK ! I didn't understand that, when KUTE (the core) initialize my svg needs to be already in the DOM (_sv and _se init at this time for each path in my DOM ?).

For testing purpose it's ok without angular but my current project use angular so I've to make it work with it.
So I need to use the dependency injection of Angular and make KUTE loaded with my view from my component.

I'll try this and le

[2016-08-18 13:57] thednp commented on #29
Yes, KUTE.js expects elements to be in the DOM so it can build the tween object with proper `_vS` and `_vE`.

[2016-08-18 19:02] thednp commented on #29
Some user suggested you should use an empty SVG in your HTML so that my script can work.
[Check this out.](http://stackoverflow.com/a/39025371/803358)

[2016-08-18 19:02] #29 closed

[2016-08-18 19:29] thednp commented on #29
I think I know why the script fails in the end, it's because the SVG Plugin is looking for a SVG element to check it's namespace and since there is none, please download latest version of the `kute-svg.js` and test in your app.

[2016-08-19 15:52] RUIFERNANDE5 opened #30 "Path unknown error."
Hey friends,
Sorry if this is not the place for coding doubts or something, but I've wasted to many time already with this issue.

[Here is a codepen i made](http://codepen.io/RUIFERNANDE5/pen/AXzbEN).

I've already jumped to the conclusion the problem is within the _svg_ itself, they are not morphing.
What could it be the problem? The shapes are quite simple, all have the same size and anchors an

[2016-08-19 16:11] thednp commented on #30
I just checked your codepen and it works. What exactly is happening?

[2016-08-19 16:23] RUIFERNANDE5 commented on #30
The shapes are not morphing flawlessly? they should've transform one to another right? Like the examples you have "triangle to star", etc

[2016-08-19 16:23] thednp commented on #30
You mean the information you get in your console? That is a feature to help you find the best `morphIndex` value.

[2016-08-19 16:24] RUIFERNANDE5 commented on #30
@thednp no mate, im aware of that. Its not an issue with the plugin I guess. However the shapes are not morphing, they are flipping or something

[2016-08-19 16:24] thednp commented on #30
Are you a MAC?

[2016-08-19 16:25] RUIFERNANDE5 commented on #30
@thednp Yes I am

[2016-08-19 16:25] thednp commented on #30
Please update your browser or get yourself a shiny new PC.

[2016-08-19 16:27] thednp commented on #30
OR: you can try to use polyfills, check out my [minifill.js](https://github.com/thednp/minifill/)

[2016-08-19 16:27] RUIFERNANDE5 commented on #30
@thednp Mate, I've tried the same code with your paths and it worked just fine. Im not sure what you're seeing, but I experience the same "flippinp" motion both on windows, osx and chrome for android.
Thanks anw..

[2016-08-19 16:29] thednp commented on #30
Check this on your machine
http://codepen.io/thednp/pen/LkvOBk

[2016-08-19 16:33] thednp commented on #30
I just tested with Safari 5.3.1 for Windows and it works, it's not perfect, but the script works.

[2016-08-19 16:34] RUIFERNANDE5 commented on #30
@thednp please check [it](http://codepen.io/RUIFERNANDE5/pen/AXzbEN) now another example, I'm creating a 5 step morphing (like a slider);

[2016-08-19 16:42] thednp commented on #30
Seems to be the same.

[2016-08-19 16:51] RUIFERNANDE5 commented on #30
@thednp  [http://codepen.io/RUIFERNANDE5/pen/AXzbEN](http://codepen.io/RUIFERNANDE5/pen/AXzbEN)

Tell me, exactly how is it a morphing motion? Now you have both paths to compare

[2016-08-19 17:12] thednp commented on #30
I think your first shape might have a problem, not sure about it, I will have a look at it later.

[2016-08-19 20:13] thednp commented on #30
I've removed the last point for each path, as long as they have `z` at the end, there is no need to tween an additional point, secondly I've tested morphing from second to first path and it works as expected.

http://codepen.io/thednp/pen/QEPmLa

Keep in mind that this involves morphing polygon type of paths, something that is a kinda beta feature of the plugin. It's something that still needs som

[2016-08-19 23:54] RUIFERNANDE5 commented on #30
Thanks a lot for your time, I'll definitely give a read on that. For now I think I can get along from here.

[2016-08-20 13:00] #28 closed

[2016-08-20 18:15] thednp opened #31 "[Possible new feature] add transforms for SVG Plugin"
I feel we need something for SVG since CSS transform property doesn't work with SVG even on latest IE, I'm thinking of a new property `svgTransform` to accept anything SVG can work with transforms.

The new property will process transforms this way:

[code]

Now since the [SVG 2.0 draft is final](https://www.w3.org/TR/SVG2/) and the presentation attribute for `transform` is not deprecated, especia

[2016-08-21 22:46] #31 closed

[2016-08-21 23:21] thednp opened #32 "[Bug] DOM Exception 12 with old Safari"
Squashed.

[2016-08-21 23:21] #32 closed

[2016-08-22 11:03] RUIFERNANDE5 commented on #30
Just one more thing, can you explain why the pen u created works from #n2 to #n1 but not the contrary?

[2016-08-22 11:08] thednp commented on #30
I cannot explain but I know a workaround: edit the `d` attribute of `#n1` to change the order of the points until you see it as you would expect it to look like. Then try to animate.

[2016-08-22 11:16] RUIFERNANDE5 commented on #30
Can you give an example on that?

[2016-08-22 11:16] thednp commented on #30
See updated commend.

[2016-08-22 11:34] RUIFERNANDE5 commented on #30
@thednp do you recommend any svg absolute to relative convertor? can't find any

[2016-08-22 11:54] thednp commented on #30
Try this and let me know.

[2016-08-22 11:57] RUIFERNANDE5 commented on #30
I just tried this one. The paths I posted were converted from there

[2016-08-22 11:58] thednp commented on #30
Yes, I tested myself http://codepen.io/thednp/pen/qNwoAE

Look I will reopen this and will try to find a fix asap, right now I am working on an update for bootstrap.native.

[2016-08-22 11:59] RUIFERNANDE5 commented on #30
@thednp appreciated.

[2016-08-22 12:05] thednp commented on #30
I have some Javascript from Snap.SVG to do `pathToAbsolute`, cross-browser and with best accuracy, perhaps I will decide to go back to my previous version of the plugin, IDK, but this bug's gonna get squashed.

[2016-08-22 14:10] #30 closed

[2016-08-22 14:10] thednp commented on #30
Problem solved.

[2016-08-22 16:20] RUIFERNANDE5 commented on #30
works like a charm, thanks buddy! +1

[2016-08-22 16:39] thednp commented on #30
No problemo.

[2016-08-25 18:52] thednp opened #33 "[Bug] svgTransform: skews and translate don't work right together"
As of now, the plugin only adjusts the translation when scale is used, but rotation `transform-origin` also need to be adjusted according to the translation. **Fixed**.

The plugin also does not tween the `transform-origin` coordinates of rotation. **WON'T FIX**: the plugin will require proper order of transform functions, so no need to tween the transform origin coordinates, all just as described

[2016-08-26 14:04] thednp opened #34 "Performance improvements in all `KUTE.dom` function and more accurate string parsing."
We're going full [D3.js](https://github.com/d3) mode with everything about KUTE.js

UPDATE: added a new object with functions for interpolation. Makes slightly bigger core, but lighter plugins.
* number - used in core and all plugins
* array (uses the above number) used in SVG Plugin
* color (uses number) - used in core, CSS Plugin and SVG Plugin
* coords (use the array and number) - used in SVG P

[2016-09-01 23:44] lyssdod opened #35 "KUTE and webpack"
Hi,

I've stuck with a weird issue with inability to perform a simple transform (probably it's the issue with my setup). I'm using webpack to make a build of my code.

The animation code itself is actually taken from this codepen: http://codepen.io/thednp/pen/YWbpJo

However, when I try to run it in my webpack environment (not minimized, but compiled bundle), after `tween.start()` console is flood

[2016-09-02 00:10] thednp commented on #35
npm doesn't have the latest version, my friend @IngwiePhoenix isn't available to push the new version. Also I'm working on a new version of KUTE.js with a full review of the core and plugins, a version that should fix and improve many things.

Unfortunately I don't have a test environment for testing the npm, require, etc, I have no idea what webpack does, so I am open to any suggestion you might

[2016-09-02 00:37] lyssdod commented on #35
Thanks for quick reply! Can you suggest where should I pick the latest version from (not mentioning this repo, of course)?

New version is always cool, but I think that's going to be another major release which isn't going to happen soon :) And it's okay.

As for the issue itself, I think it's somehow related to missing window globals or smth. Also the mentioned function is getting called from wit

[2016-09-02 00:40] thednp commented on #35
This is the place to find the latest version and it's really OK.
https://github.com/thednp/kute.js/releases
also here
https://github.com/thednp/kute.js/tree/1.5.2

Now, I have a question for you: do your SVG actually exist in the DOM when you create the tween object?

[2016-09-02 00:43] lyssdod commented on #35
Okay, I will pick up this version then. Yes, I fully copied that codepen and run my code  `Zepto(document).ready(function() { here });`

[2016-09-02 00:45] thednp commented on #35
Don't use zepto, try without it. And move the code to the footer.

[2016-09-02 06:32] thednp commented on #35
Well, is it fixed?

[2016-09-02 07:34] thednp commented on #35
If you remove `Zepto(document).ready(function() { // KUTE code here });` and move your `// KUTE code here` in the footer, there is no need to do `.ready()`, IT IS READY in the footer. You save load time and performance as function nesting (jQuery sweet sizzle) is always payed in performance.

[2016-09-02 12:05] lyssdod commented on #35
I have to use `.ready` for another code, I'm creating some elements on the fly and I download a big chunk of data, so `.ready` will finish a loading animation

[2016-09-02 12:06] lyssdod commented on #35
I decided to try bower and run into another issue:
http://stackoverflow.com/questions/39282973/webpacks-require-does-work-but-require-resolve-doesnt

[2016-09-02 12:16] thednp commented on #35
I hope someone can contribute with a better UMD definition.

[2016-09-02 13:00] thednp commented on #35
Doesn't this help in any way?
https://github.com/thednp/kute.js#commonjsamd-support

[2016-09-02 16:30] lyssdod commented on #35
Well I actually use `require` function, I can test it with `define` approach, maybe it will help

[2016-09-02 19:03] thednp commented on #35
Well ok try your best, I need to know a resolve on the issue as I'm preparing for a new release in the next days.

[2016-09-03 07:56] thednp opened #36 "Text plugin didn't handle existing string, yoyo also didn't work"
And now it does.

[2016-09-03 15:36] #36 closed

[2016-09-03 15:36] #34 closed

[2016-09-03 15:41] thednp commented on #35
Please download the latest master and do some checks, there's some overall improvements and fixes, but none of them are related to your problem unfortunately. I also want to know if you managed to solve the problem so I can look for a solution because I'm almost ready to draft a new release.

[2016-09-03 19:26] thednp commented on #35
Hello again. I've talked with a friend of mine and he suggested you should create a repository with the exact thing you are up to so we can have a look and create PR with a fix, as he thinks you aren't using the webpack stuff correctly.

[2016-09-04 06:49] lyssdod commented on #35
Hi, unfortunately `define` thing did not help either. Here's the repo reproducing this problem: https://github.com/lyssdod/kutesvg-bower-webpack

[2016-09-05 11:04] thednp commented on #35
Where is the `filename: 'bundle.js'` located, I cannot find it in the repo?

[2016-09-05 13:18] thednp commented on #35
I had a few attempts to try to fix the issue (before none of my friends check it yet) and I have to say:
* use proper namespace: `kute.js` is the package name and the file name, then `KUTE` is the exported object you work with it's methods
* please check the webpack docs and post any issue regarding using it in their repository, it's very possible this isn't my package's issue (as one of my friend

[2016-09-05 15:57] lyssdod commented on #35
Hi @thednp,
File `bundle.js` will be created by webpack on successful compilation (concatenation on debug). I've tried using lowercase naming:

With `loaders` in `webpack.config.js` commented out:
[code]

Uncommented:
[code]

[2016-09-05 22:03] lyssdod commented on #35
Specification itself says that name should be lowercase: https://github.com/bower/spec/blob/master/json.md#name

Currently it's uppercase: https://github.com/thednp/kute.js/blob/master/bower.json#L2

Though bower finds it and installs as `bower_components/KUTE.js` without any problem.

[2016-09-05 22:16] thednp commented on #35
I see, well nobody reported anything about npm or bower, this webpack stuff, IDK.

[2016-09-05 22:42] lyssdod commented on #35
Well, it looks like there are two ways of loading a bower module from webpack (http://webpack.github.io/docs/usage-with-bower.html and https://github.com/lpiepiora/bower-webpack-plugin), but none of them seems to work properly, thus it's really a webpack problem. I think this issue can be closed now, I will try to find a workaround. Thanks much!

[2016-09-13 19:06] thednp opened #37 "Thinking about a scroll with translation for modern browsers"
Modern browsers don't seem to like setting scroll on each and every 16ms, so I am considering featuring a translate transition instead. An example [here](http://codepen.io/ifen/pen/ejcty/).

[2016-09-17 23:01] lyssdod commented on #35
Hi again. I've seen you pushed new version to npm, so I successfully installed 1.5.3 + svg plugin. It seems that plugin got installed properly (I get no errors when requiring it), however, the problem from my first comment is still present — when executing a `start()` on `Tween` object (made by `KUTE.fromTo(...)`), I get an error: `TypeError: Cannot read property 'length' of undefined`. I've debug

[2016-09-17 23:06] thednp commented on #35
@lyssdod I need to see an example, I cannot guess/feel what's going on.

[2016-09-18 00:02] lyssdod commented on #35
@thednp https://github.com/lyssdod/kutesvg-webpack here it is. Code is from multi path svg morph example.

[2016-09-18 00:13] thednp commented on #35
@lyssdod I don't know much about webpack and require stuff, please give me something I can click and see the console.

[2016-09-18 00:23] IngwiePhoenix commented on #35
Hai. I am going to investigate - after all I used to be a webpack support staff member before i had to go somewhere for a while. Ill post once i have it working!

[2016-09-18 00:32] lyssdod commented on #35
@thednp Script is generated by webpack (all deps and `main.js` are concatenated to `bundle.js`) and loaded in `index.html`. I've tried various `window.ready` and other handlers/loaders/events to ensure code is executed only after DOM is built and got no differences, thus I think the problem is somewhere else.
@IngwiePhoenix Thank you!

[2016-09-18 00:33] IngwiePhoenix commented on #35
So first off:
https://github.com/lyssdod/kutesvg-webpack/blob/master/main.js#L1 : Defines "...(**kute**)..."
https://github.com/lyssdod/kutesvg-webpack/blob/master/main.js#L2-L5 : Uses "KUTE"

Next,
https://github.com/lyssdod/kutesvg-webpack/blob/master/webpack.config.js#L14 : Not required. This might actually _break_ KUTE.js instead! KUTE.js was modified by me with a proper, uniform JS "standard"

[2016-09-18 00:41] lyssdod commented on #35
@IngwiePhoenix
not mentioning 'kute/KUTE' namings,
I tried to remove https://github.com/lyssdod/kutesvg-webpack/blob/master/webpack.config.js#L14 and got `Uncaught TypeError: Cannot read property 'dom' of undefined` pointing to
https://github.com/thednp/kute.js/blob/master/kute-svg.js#L24

[2016-09-18 00:42] lyssdod commented on #35
That's why I use `expose` plugin — to provide a virtual `window` object to SVG plugin

[2016-09-18 01:37] thednp commented on #35
I think I will filter out the cases when the `<svg>` isn't there in the DOM when KUTE.js is looking for it.

[2016-09-18 15:00] lyssdod commented on #35
@IngwiePhoenix as for 'kute/KUTE' in https://github.com/lyssdod/kutesvg-webpack/blob/master/main.js#L1-L5:

`kute` is the result of requiring `kute.js` module, which's only KUTE.js itself (core). `KUTE` is the object, exposed by core KUTE.js into fake `window` namespace (expose plugin of webpack does that). As SVG plugin is tied to `window` object (https://github.com/thednp/kute.js/blob/master/kut

[2016-09-18 15:31] thednp commented on #35
@lyssdod So you say we need to connect the SVG plugin to KUTE.js core in a different manner?

[2016-09-18 17:17] lyssdod commented on #35
@thednp I don't know how difficult it is for you. I wonder why does it fail in such (artificial `window`) setup

[2016-09-19 13:09] thednp commented on #35
@lyssdod this [post](https://github.com/thednp/kute.js/issues/35#issuecomment-247816387) by @IngwiePhoenix looks solid for me, why won't you work on that idea?

[2016-09-19 13:20] lyssdod commented on #35
@thednp @IngwiePhoenix I've added missing `index.html` and updated code to use the result of `require` function, instead of relying onto global namespace. The problem still there

[2016-09-19 14:31] thednp commented on #35
Please send over your skype via dnp.digital@gmail.com

[2016-09-19 17:23] thednp commented on #35
https://github.com/thednp/kute.js/releases/tag/1.5.4

[2016-09-19 17:23] #35 closed

[2016-09-19 18:45] lyssdod commented on #35
Thanks!

[2016-09-20 00:58] thednp commented on #35
@lyssdod Please do me a favor and test all plugins and let me know if there's anything wrong.
Thank you.

[2016-09-20 23:30] thednp opened #38 "Anyone interested in an all-in-one bundle?"
Main reasons:
- better code organization
- better performance all across the board
- much lighter size

Main downsize: UMD wrappers gonna go.

[2016-09-24 03:26] thednp commented on #35
@lyssdod Please test the new version and let me know if any problem.

[2016-09-24 18:35] lyssdod commented on #35
@thednp Sure, I will report back shortly

[2016-09-24 20:34] thednp opened #39 "Simplify the Tween object"
There's alot of stuff stored in the Tween function's `this` that are actually not needed in the scope of execution, and they take a huge chunk of memory.  However, we do want to pass it to all string parsing functions.

**UPDATE**:
- now the `Tween` constructor is getting lighter, the tween objects created give alot more freedom to garbage collector **DONE**
- alot of public methods are no longer

[2016-09-25 01:13] lyssdod commented on #35
It works! Thanks you very much!

[2016-09-25 12:50] thednp commented on #35
Alright, you're welcome.

[2016-10-02 22:51] mrksbnch opened #40 "Bundle with rollup / browserify (ES2015 modules)"
If I try to import KUTE.js in my project...

[code]

..., I'll get the following error in the console:

In this case, I was trying to bundle my JavaScript files with `rollup`, but it doesn't seem to work with `browserify` either.

The SVG plugin looks for KUTE.js on the window object, but this is not defined if KUTE.js is imported from an AMD or CommonJS context (UMD wrapper). So, how's this suppo

[2016-10-02 22:54] mrksbnch commented on #38
Since all plugins are really small anyway, I think this is a good idea.

[2016-10-02 23:18] thednp commented on #38
Thanks for the feedback. I think it's coming with the 1.6 major update.

[2016-10-02 23:19] thednp commented on #40
yes, I have to replace with `root.KUTE` to link plugins properly, also coming with the next update.

[2016-10-02 23:21] thednp commented on #40
Would you care for some proper testing after update?

[2016-10-02 23:24] mrksbnch commented on #40
Sure, I need to use this library for a project, anyway. So, I could test if it works with `rollup`, `browerify` etc.

[2016-10-03 16:30] thednp commented on #40
Please update from npm and let me know how it goes.

[2016-10-03 21:46] mrksbnch commented on #40
Sorry, I didn't have time today, I'll test it either tomorrow or within the next few days. Thanks!

[2016-10-04 21:48] mrksbnch commented on #40
So, I just updated to `1.5.9`, but I got the same error. As far as I can tell, the problem is still the same. `kute-svg.js` is looking for `KUTE` [on the root object](https://github.com/thednp/kute.js/blob/master/kute-svg.js#L26), which is not the case for [AMD](https://github.com/thednp/kute.js/blob/master/kute.js#L7) or [CommonJS](https://github.com/thednp/kute.js/blob/master/kute.js#L9) environ

[2016-10-05 00:20] thednp commented on #40
IDK @mrksbnch I am open to suggestions.

[2016-10-05 01:46] thednp commented on #40
I hope @RyanZim can have a look and provide a clue.

[2016-10-05 02:21] thednp opened #41 "Remove the getBestIndex utility and create a codepen with similar functionality"
Probably for 1.6.0 release.

Update: the utility is ready, please test here: http://codepen.io/thednp/pen/YGayLg

[2016-10-05 12:25] mrksbnch commented on #40
@thednp Normally, this UMD wrapper for the plugins should work (I haven't tested this yet, though):

[code]

#38 will also solve this issue.

[2016-10-05 12:30] thednp commented on #40
OK but can you please test this?

[2016-10-05 12:32] mrksbnch commented on #40
@thednp Sure, will do later today.

[2016-10-05 15:15] RyanZim commented on #40
I would personally go the #38 route (major version bump). Plugin-based architectures don't play well with CommonJS, especially when the plugins modify the core libraries functionality.

[2016-10-05 18:17] thednp commented on #40
As for KUTE.js some plugins only extend the KUTE object, not override functionality.

[2016-10-05 20:49] mrksbnch commented on #40
@thednp If you want to fix this issue before version 1.6.0, my code above works for me. Like I said, I don't think you need to export anything from the plugin. So, I can also confirm that this works:

[code]

I also changed [line 26](https://github.com/thednp/kute.js/blob/master/kute-svg.js#L26)

[code]

to

[code]

However, I got another error on [line 242](https://github.com/thednp/kute.js/blob/

[2016-10-05 20:56] mrksbnch commented on #40
Just to clear things up: If I just import KUTE.js and the SVG plugin (with the improved UMD wrapper), I don't get any errors. I just got the last error because I tried to morph two paths:

[code]

So, it's not strictly related to this issue, but more to #35.

[2016-10-05 21:11] thednp commented on #40
Your above example should be

[code]

or

[code]

I think that's why you get an error, also due to the fact that the script found no element in your HTML.

About your UMD version, probably related to the issue it's about the interpolate functions that are exported to the `window` object for performance reasons.

With versions 1.5.0 - 1.5.9 I've done some experiments with regards to performance and

[2016-10-05 21:16] RyanZim commented on #40
I can't see how that can be that much faster, that is micro-benchmarking IMO. A good read on that subject: https://github.com/getify/You-Dont-Know-JS/blob/master/async%20%26%20performance/ch6.md (If you have time, the whole series is a great read BTW).

Using `window` runs the risk of your data being overwritten by other peoples' code.

[2016-10-05 21:37] thednp commented on #40
@RyanZim I am totally against pollution of the global scope but a small little object `window._Animation` won't hurt anyone. Possible structure:

[code]
would be better than populating in the KUTE object, because object lookup access speed and stuff like such.

[2016-10-05 21:43] mrksbnch commented on #40
Sounds good. I'm not really sure why using `window` should be faster. But then again, `snap.js` is doing the same. So there are probably some advantages.

Personally, I think it's ok to use `window.KUTE` if developers just include the script on the page (e.g. with the `<script>` tag). But If I import the module (`import KUTE from 'kute.js'`) in one file, I wouldn't expect anything to be added to `

[2016-10-05 22:43] thednp commented on #40
@mrksbnch What is wrong with using `window` (I mean for the CommonJS/Require stuff)? I am not using `window` in the UMD definition, only in the function body.

I now understand that I cannot simply connect KUTE with it's plugins the way I did, your method is probably best, but really can you please explain a little bit what's going on?

[2016-10-05 23:14] RyanZim commented on #40
In CommonJS, we expect that everything stays contained inside its own module; that way, there is never _any_ possibility for collision.

---

I can't see why there would be any speed difference, but I could be wrong. If you can provide actual performance figures/tests, that would be great.

[2016-10-05 23:54] thednp commented on #40
You have a [note on performance](http://thednp.github.io/kute.js/about.html#performance) on the demo page. Also the [performance testing page here](http://thednp.github.io/kute.js/performance.html). There are almost 2 years testing performance and improving the code.

So how can I still use `window` or some sort of global from CommonJS, I would guess `var g = this || global || window;`

[2016-10-06 09:20] mrksbnch commented on #40
If you bundle your files with `browserify` or `rollup`, `this` doesn't always refer to `window`. I think in `browserify` it binds to the exports object. You can change the context in `rollup`, but not in `browserify` (AFAIK).

Are you referring to the performance of a key lookup in an object? I might be wrong, but if I do...

[code]

...I can directly access the `KUTE` object. Whereas if you were

[2016-10-06 14:55] thednp commented on #40
Yes, functions like ticker, or those built dynamically for DOM updates, like `DOM.transform`.

Take this example: (root is the `window`, `this` or `global`)
* `root.dom.transform` is a level 2 'distance' from the global object
* `root.KUTE.dom.transform` is a level 3 'distance' from the global object

In any case, no matter what, the first will execute faster because there is less object traversin

[2016-10-06 14:59] RyanZim commented on #40
@thednp Have you ever benchmarked JS object lookup speed? That is one of the fastest areas of JS IIRC. I would like to see some actual figures of the difference between level 2 & level 3 lookups.

[2016-10-06 15:33] RyanZim commented on #40
I did a little benchmarking: level 3 lookups are 0.00228635622 nanoseconds slower than level 2 lookups.

Studies show that the brain can't perceive speed differences less than 13 milliseconds. Based on that, you would need to do **5,685,903,136** (that's over 5 billion) object lookups to make a speed difference large enough for the brain to perceive! :open_mouth:

Not worth it IMO.

[2016-10-06 16:16] thednp commented on #40
@RyanZim I perfectly agree with you. Remember the point of this is to achieve best possible performance in most situations (even on very high stress level) so I figured it has to be like this:
* parse strings, process values to create tween objects
* store these objects in an object in the root of the page or root of the node environment scope (the tween objects array)
* when we start ticking (btw

[2016-10-07 18:47] thednp commented on #40
@mrksbnch this code you posted

[code]

is for plugins right?

[2016-10-07 18:48] mrksbnch commented on #40
@thednp Yes

[2016-10-07 18:50] thednp commented on #40
Please stay with me on this, I really want it solved once and for all.

So if I do this `}(this, function (root,KUTE) {` will I have access to the global object inside the function body?

[2016-10-07 19:01] mrksbnch commented on #40
Hm, like I said, `this` is a little _problematic_ for some module bundlers, because it doesn't always bind to the global scope (`window` or `global`). I think something like this should work in the browser and node, but I'm not sure

[code]

@ryanzim Do you know if this will this work?

[2016-10-07 19:19] thednp commented on #40
Also @IngwiePhoenix could be of use in this manner.

[2016-10-07 19:34] thednp commented on #40
@mrksbnch I will prepare some new code with your findings, will publish 1.5.91 on npm and you can do some testings ok?

[2016-10-07 19:34] mrksbnch commented on #40
@thednp Sure, will do

[2016-10-07 19:36] thednp commented on #40
Before that, please do me a little test in your node env:

[code]

and let me know what this outputs in your node.

[2016-10-07 19:41] mrksbnch commented on #40
@thednp This will output the `global` object. `window` is undefined in node

[2016-10-07 19:42] thednp commented on #40
good, in that case we use you wrapper and this `var g = global||window;` and we should be doing the tests.

[2016-10-07 19:57] thednp commented on #40
OK Please update and test.

[2016-10-07 19:59] #40 closed

[2016-10-07 20:05] mrksbnch commented on #40
I'm afraid this won't work for CommonJS. This line

[code]

should be

[code]

because your npm package name is `kute.js`.

[2016-10-07 20:10] thednp commented on #40
OK patching up and please test 1.5.92.

[2016-10-07 20:30] mrksbnch commented on #40
@thednp Did you already update the code on npm?

[2016-10-07 20:35] thednp commented on #40
yes 1.5.92

[2016-10-07 20:55] mrksbnch commented on #40
Thanks, it's working for me now. However, I couldn't test an actual SVG animation (SVG plugin) due to the `Cannot read property 'length' of undefined` error, that I still need to figure out. But, like I said, that's a different issue.

[2016-10-07 21:00] thednp commented on #40
That's because the element is not found. The plugin needs to read the `SVGElement`'s attributes, especially the `d` attribute.

[2016-10-07 21:08] mrksbnch commented on #40
That's what I thought too, but it's in my HTML:

[code]

I also tested it with `snap.js` and it works. I'll create a separate issue after I check the code once again.

[2016-10-07 21:26] thednp commented on #40
Can you make a repo so I can have a look at it.

[2016-10-07 21:35] mrksbnch commented on #40
Sure, I can provide a reduced test case (probably not right now) and will create another issue for it.

[2016-10-09 02:46] #41 closed

[2016-10-09 02:53] thednp opened #42 "Do you use/need the easing plugins?"
I am thinking about moving them to the [experiments](https://github.com/thednp/kute.js/tree/experiments) repository and only keep the core easing functions.

The idea is to play around the opportunity to create an all-in-one bundle with the next big version 1.6.0.

[2016-10-13 11:46] mvaneijgen opened #43 "How to set repeat to infinity?"
`repeat: 20 option allows you to run the animation of given tween multiple times. The default value is 0.`

Doesn't talk about it, should I just set it to `999999999999`?

http://thednp.github.io/kute.js/options.html

[2016-10-13 12:29] thednp commented on #43
It has to stop [somewhere](https://github.com/thednp/kute.js/blob/master/kute.js#L238) currently set to 9999 max limit. But why `Infinity` really?

[2016-10-13 14:08] mvaneijgen commented on #43
I have a wave (as in water) animation on a page which for me doesn't need a limit, but `9999` is fine. Otherwise my bounce rate will be amazing which will probably be not the case.

Thanks for the response.

[2016-10-13 14:08] #43 closed

[2016-11-24 11:11] thednp commented on #42
Plugins removed, please add a comment here for questions.

[2016-11-24 11:11] #42 closed

[2016-11-29 08:32] nehalgandhi opened #46 "Complete Event?"
hello,

is there animation complete event? or we have to use onUpdate  along with isPlaying?

thanks
Nehal

[2016-11-29 09:43] thednp commented on #46
Of course, check out the [tween options](http://thednp.github.io/kute.js/options.html).

[2016-11-29 22:19] thednp commented on #46
Probably that answered the question.

[2016-11-29 22:19] #46 closed

[2016-12-06 22:02] #33 closed

[2016-12-09 18:40] groovingtiger commented on #25
Hello @thednp and @dalisoft , I do notice the source looks pretty identical to GSAP. Same methods, properties, etc.. The source of kute.js is little suspect. I notice when GSAP puts something out it shows up on this git. That would be really disappointing to see all the hardwork of GreenSock be used on here. With others like @dalisoft taking credit for someone else's timeline animation platform. T

[2016-12-09 18:57] thednp commented on #25
@groovingtiger wow that came out of nowhere. You claim is ridiculous, please let me explain why.

FYI: I am against using other people's code as my own, I am an experienced developer that read all about software licensing and copyright. The only one you can blame for such a thing is @dalisoft, he already had some talks with GSAP's devs on such an important matter. So my code is my own, I coded eve

[2016-12-11 02:56] #39 closed

[2016-12-26 22:55] t47io opened #47 "API to set defaults?"
Something like:
[code]

would be a great addition, since now I have to manually pass this for every Tween. Thoughts?

[2016-12-26 23:05] thednp commented on #47
It's good idea. I will think about it.

[2016-12-28 05:31] dalisoft opened #48 "FEATURE REQUEST: Adding kute.js to Wikipedia"
Hi.
As i know VelocityJS have in Wikipedia as animation library..
Would be nice if adding kute.js to Wikipedia.

[2016-12-28 13:19] thednp commented on #48
If you refer to github Wiki it can be done relatively fast, but if you refer to actual [wikipedia](https://en.wikipedia.org/wiki/Velocity_(JavaScript_library)) that's something that has to do with wikipedia authors/editors, it is up to them to have it mentioned in their pages.

[2016-12-28 13:19] #48 closed

[2016-12-28 21:28] thednp commented on #48
Soon to be written:

https://en.wikipedia.org/wiki/KUTE.js

[2017-01-01 14:47] thednp commented on #47
What about an object in the KUTE main object, something like
[code]

[2017-01-02 22:30] thednp commented on #47
@t47io I have implemented this feature as I described above, would you be willing to do some tests as soon as I commit?

[2017-01-02 23:02] thednp commented on #47
OK, I updated the code, demo, please read http://thednp.github.io/kute.js/options.html to learn how to override options' default values.

[2017-01-02 23:02] #47 closed

[2017-01-25 09:51] supernova13892 commented on #43
I am actually updating my site from GSAP to kute.js and I have a very similar requirement to yours.
Here is my site: [http://theta.crazyripples.com/](http://theta.crazyripples.com/)

Here is what I did to achieve infinity:
[code]

[2017-01-25 11:16] thednp commented on #43
No worry men, I initially set a number like 99999 hoping to solve some recursion, but I found the problem, it was something 1.5 series introduced in the plugins and KUTE.js 1.6 series reintroduces `Infinity` repeat.

[2017-01-26 23:29] danielosborn opened #50 "Bower/Browserify dependancies with plugins"
There seems to be a dependency requirement issue In the plugin files in the Bower package.
The KUTE.js/kute-jquery.js file has the correct requirement of the kute.js file. However the other plugins us ` define(['kute.js'], factory);` and `module.exports = factory(require('kute.js'));`
In order for the files to compile correctly with Browserify, I have to change those to reference the kute.js file

[2017-01-26 23:55] thednp commented on #50
You must require exactly as they wrote in the README.md as this

`require( '../vendor/KUTE.js/kute.js' );` doesn't look fine to me.

[2017-01-27 00:22] danielosborn commented on #50
I guess the question I was asking is more along the lines of:
When i include the plugins in the same way, only the kute-jquery plugins works. And looking at the top of the files I can see why.

The kute-jquery plugin is looking for the dependency of `'./kute.js'  however the other plugin files are looking for the dependency of `'kute.js'`.
Here's the top of kute-css.js:
`
(function(root,factory){

[2017-01-27 01:37] thednp commented on #50
I am not the one who have done the UMD wrappers, I may have changed them to not work anymore, I really cannot tell.

Can you please fork it, do the changes as you see fit, install from Github and report back?

[2017-01-27 18:24] thednp commented on #50
https://github.com/thednp/kute.js/commit/a8ca9a53172a3b225838863aeb910e7aa9b2c422

[2017-01-27 18:24] #50 closed

[2017-01-29 12:18] dalisoft commented on #37
:+1: +1

[2017-01-29 12:19] dalisoft commented on #37
I am too interesting on it

[2017-02-02 14:51] FezVrasta commented on #37
Is this what [skrollr](https://github.com/Prinzhorn/skrollr) does? Maybe you can borrow ideas from it.

[2017-02-02 15:19] thednp commented on #37
No, exactly what I mentioned in the first post.

[2017-02-07 12:04] supernova13892 opened #55 "How to reverse SVG morph?"
I have a simple SVG with 2 paths.
One is simply hidden(CSS) as required to morph.

I run  `KUTE.to("#path1",{ path: "#path2" }).start();` and now obviously the visibility of the 2 paths has switched.

Now, how do I morph from path2 -> path1 (basically a reverse)?
I tried the obvious:
`KUTE.to("#path2",{ path: "#path1" }).start();` and
`KUTE.to("#path1",{ path: "#path1" }).start();` but they don't

[2017-02-07 12:13] thednp commented on #55
You can store the value of the `d` attribute of `#path1` before morph, then do a simple

[code]

[2017-02-07 12:13] #55 closed

[2017-02-08 15:13] dalisoft opened #56 "Worker is supported?"
Hi @thednp.

Working with kute.js is easy and works nice with my vdom-like lib and f7. I building large app and want small size with keeping parallel loading. But i have more than 3k dom nodes, so i want copy properties processing from worker for performance reason. Is this possible?

Below idea,
[code]

[2017-02-08 16:13] thednp commented on #56
Hey Dav, I don't think this is cross-browser supported, we're gonna dig into that with future versions.

[2017-02-08 16:13] #56 closed

[2017-02-08 17:51] dalisoft commented on #56
This is good. About compatibility cares other studio. I should built app in top of technology (never liked, but life forced to learn)

[2017-03-06 15:25] katerlouis opened #57 "Kute.JS's USP?"
Kute.JS looks a lot like GSAP on the first 2 looks.
Is there anything unique about kute.js?

This question is by not meant offensive in any way. I am just curious.

Thanks!

[2017-03-06 16:56] thednp commented on #57
GSAP is using sources from TweenJS and some other stuff from [CreateJS](https://github.com/CreateJS/TweenJS) stuff like Timeline, Ticker, event driven rAF, while KUTE.js is a fork of [tween.js](https://github.com/tweenjs/tween.js) with a much more simple architectural prototype and some ideas from D3. Look it up.

[2017-03-06 17:57] thednp commented on #57
All clear?

[2017-03-07 12:17] #57 closed

[2017-04-03 01:10] stevenspinoza opened #58 "SVG intensive morphing"
Hi, good job with KUTE!
I'm trying to test many SVG libs for remaking my microsite: [stevenspinoza.github.io](url).
I was chaining tweens for emulating the fire animation loop, but I see performance issues.

I have in the chaining,using 6 different svg's:
compliMorph1.chain(compliMorph2);
compliMorph2.chain(compliMorph3);
compliMorph3.chain(compliMorph4);
compliMorph4.chain(compliMorph5);
compliMo

[2017-04-03 01:58] thednp commented on #58
[code]

should be

[code]

[2017-04-03 10:50] #58 closed

[2017-04-03 13:49] stevenspinoza commented on #58
Hi thednp, thanks for the correction. I tried to optimize the svg's: 50% less points, smaller size and this is an example of each tween:

`var compliMorph1 = KUTE.to(svgPath1, {`
		`path: svgPath2	`
	`}, {`
		`morphPrecision: 10,`
		`morphIndex: 1000,`
		`duration: 100,`
		`repeat: 0,`
		`yoyo: false,`
		`easing: 'linear'`
	`});`

Even though, I still see that the morphing is lacking performance.

[2017-04-03 14:03] thednp commented on #58
The documentation clearly states the `.to()` method to be slower but more practical for simple animations, while for complex and/or chained animations, you need to always use `.fromTo()` to eliminate the lag.

[2017-04-03 15:00] stevenspinoza commented on #58
Yes, you are right. I only found that the morphing is not "natural". I tried using the Sinusoidal easings, but still looks 'predictable'.
Originally I use Flash and it took 20 frames. I just exported the 6 keyframes. Do you think if I use the 20 frames, KUTE could handle the performance and would it look more 'natural' to the flames movement?

Thanks.

[2017-04-03 15:11] thednp commented on #58
The code is very fast, but depends very much on how you configure your morph.

[2017-04-12 09:03] PhoonLee opened #59 "Kute not working in iOS v7.x"
Platform:iPhone5s iOS 7.0 Safari
It seems to not support window.performance in this version. :(

[2017-04-12 09:29] thednp commented on #59
For legacy browsers you need polyfills, check my minifill.

[2017-04-12 09:29] #59 closed

[2017-04-18 15:52] dalisoft commented on #37
I think time to make it. As i seen in my app statistic usage starts at IE10 and it supports both 3d transform and transition.

[2017-04-25 14:05] Grzegorzsa opened #60 "Uncaught TypeError: Cannot read property 'style' of null"
Error when <script src="kute/dist/kute.min.js"></script>is placed in HEAD section of html file. When I place the code before BODY tag everything works fine

[2017-04-25 14:08] thednp commented on #60
It should be in the body obviously.

[2017-04-25 14:08] #60 closed

[2017-04-25 14:14] Grzegorzsa commented on #60
https://www.w3.org/TR/html4/interact/scripts.html
"The SCRIPT element places a script within a document. This element may appear any number of times in the HEAD or BODY of an HTML document."

Script should handle the situation when it is placed in HEAD section not crash - this is **obviously** a standard.

[2017-04-25 15:08] thednp commented on #60
That is obviously jQuery. We don't do that.

[2017-04-25 22:04] GuyDiamond opened #61 "How I can use external svg?"
Hi,
Is it possible to use kute on external svg file in HTML?
When pasting the SVG inline code, it works well, but when I add the object, crashes errors.

Uncaught TypeError: Element not found or incorrect selector: rectangle
    at g (kute.min.js:2)
    at Object.pt [as fromTo] (kute.min.js:2)
    at motion.js:16

[2017-04-25 22:20] thednp commented on #61
Maybe if you link the scripts AFTER the SVG Shapes would work?

[2017-04-26 08:42] GuyDiamond commented on #61
I'm already linked scripts after objects SVG. Before close tag body. This help me: document.getElementById('sunx').addEventListener('load', function() {
      var sun = this.getSVGDocument();
      var sunRayStart = sun.getElementById('sunRay1');
      var sunRayEnd = sun.getElementById('sunRay2');
      var tween = KUTE.fromTo(sunRayStart ...

[2017-04-26 11:17] #61 closed

[2017-05-04 20:34] Akiyamka opened #62 "complete hook not work =("
To implement a cycled animation a try to use complete hook, but it did not work:
https://jsfiddle.net/akiyamka/m775f3t1/1/

[2017-05-04 20:36] thednp commented on #62
`rotateRestart` is not a function.

[2017-05-04 20:36] #62 closed

[2017-05-04 20:37] Akiyamka commented on #62
fix https://jsfiddle.net/akiyamka/m775f3t1/2/ ?

[2017-05-04 20:50] thednp commented on #62
This should work
https://jsfiddle.net/m775f3t1/3/

[2017-05-06 10:54] Akiyamka commented on #62
Thank you very much, this explains why it looked as if the hook did not work

[2017-05-29 10:07] Akiyamka opened #63 "height in % crush width error "Cannot read property 'offsetWidth'""
When i try animate height property of div in %, kute crush width error:
[code]
Reproduce here:
https://gist.run/?id=184c8fb470cf21933aba19a54c82d65c

[2017-05-29 10:31] thednp commented on #63
What if you would try with the latest version?

[2017-05-29 11:12] Akiyamka commented on #63
@thednp In the latest version of the error is gone, it's great! But unfortunately inline the height is still set in pixels instead of %
`height: '100%' ` - > style="height: 44px;"
I also noticed that height in % calculated from the width
Updated gist:
https://gist.run/?id=184c8fb470cf21933aba19a54c82d65c

[2017-05-29 11:20] Akiyamka commented on #63
I think here (:345) should dynamically change offsetWidth or offsetHeight
`return boxValue.u === '%' ? boxValue.v * this[element][offsetWidth] / 100 : boxValue.v;`

[2017-05-29 11:22] thednp commented on #63
Nope, the script is intentionally transforming `%` values in pixels to simplify the tween.

[2017-05-29 11:22] #63 closed

[2017-05-29 13:04] thednp commented on #63
https://github.com/thednp/kute.js/commit/ba91cd66300142c1da7ed99de9831ea75e27bfa9

[2017-07-10 22:16] alexsonnay opened #65 "Remote use of CDN / Jsdelivr fail"
Using CDN or Jsdelivr with latest chrome version gives an error at loading the script from remote server. However it works locally with Brackets with CDN & Jsdelivr.

Chrome Error :
[code]

Any idea ?

Thanks

[2017-07-10 22:23] thednp commented on #65
jsdelivr is a little bit behind unfortunatelly, just Google for other ones.

The error occurs because you haven't followed the docs regarding usage, the `<link>` must be in your site `<body>`, at the end.

[2017-07-10 22:23] #65 closed

[2017-07-10 22:33] alexsonnay commented on #65
I did try with the CDN links at the end of the body. It doesn't work.

[2017-07-11 06:32] thednp commented on #65
Can we have a look at a test page with the exact issue?

[2017-07-11 09:47] jimaek commented on #65
@jsdelivrbot npm kute.js

[2017-07-11 18:09] thednp commented on #65
@jsdelivrbot npm kute.js

[2017-07-11 20:34] thednp commented on #65
@alexsonnay do you have a test site?

[2017-08-07 05:11] peterennis opened #66 "How to use morphIndex in examples?"
morphIndex is referred to in the documentation but I do
not see it being used when I search the source.

Could you provide an example?

![capture128](https://user-images.githubusercontent.com/140737/29012959-26449174-7af4-11e7-8a5d-a17dc700f9d4.png)

[2017-08-07 07:29] thednp commented on #66
https://codepen.io/thednp/pen/YGayLg

[2017-08-07 07:29] #66 closed

[2017-08-07 12:54] thednp commented on #66
@peterennis are we OK now?

[2017-08-07 18:28] peterennis commented on #66
Yes, simple multi morph makes it clear.

I did not see it in the default options. Is it missing from the example?

![capture920](https://user-images.githubusercontent.com/140737/29040332-6a6c86e4-7b63-11e7-8770-814872cc1e10.png)

[2017-08-07 19:32] thednp commented on #66
The `morphIndex` tween option is optional, but I'm not 100% sure what you need.

[2017-08-07 23:10] peterennis commented on #66
I worked through the morph example and liked your optimization code to create "ideal" values.
In the app I just wanted to pass in the best value for the animation.
In your example showed 127, but it was not clear to me where it would be added in code until I
looked at the link examples you sent.

I was asking if it made sense for the Override Ddefault Options' Values to include it e.g.

morphIndex

[2017-08-08 08:54] thednp commented on #66
With morph SVG there is no reason/argument to override the default `morphIndex` value, or the possibility to override it, as shapes are vastly different in so many ways, we usually do some preparations to normalize them to a point where morph animation is actually "natural" and looks good.

It makes a ton more sense to override the `morphPrecision` option something you can do to balance the qualit

[2017-08-08 17:24] peterennis commented on #66
OK. That makes sense now. So the best process is to find the optimal
morphIndex and then potentially adjust morphPrecision to
suit the device(s).

Thanks!

[2017-08-08 20:12] thednp commented on #66
Almost, but `morphPrecision` first, then `morphIndex`.

[2017-08-20 22:42] patrickbjohnson opened #67 "fromTo with more than two paths?"
I'm attempting to create an morphing animation stepping through 3 shapes.

This seems to work fine with two paths but only runs once when 3 paths are provided. Is it possible to animate through three paths with this library using the `fromTo()` method?

Demo: https://codepen.io/pbj/full/qXoPXV/

[2017-08-21 08:42] thednp commented on #67
I see `#step-2` is same path with `#step-3`, if I understand your idea correctly, I would do this

[code]

Or if you simply want a yoyo morph from `#step-1` to `#step-2`, you can make it even more simple:

[code]

Try these and let me know.

[2017-08-21 19:28] thednp commented on #67
@patrickbjohnson are we ok?

[2017-08-26 08:04] greenkeeper[bot] opened #68 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-09-12 15:07] donnervetter opened #69 "reverse function?"
Hi and thank you for this amazing plugin.

Although I didn't find an easy way to smoothly reverse back the shape to it's initial state. I only found a reverse function in extending the plugin example you provided and I was wondering why isn't it included by default?

Or is there a way to transform shape and get back to initial state after some time without using the yoyo and repeat options?

For e

[2017-09-12 15:38] #68 closed

[2017-09-12 15:38] #67 closed

[2017-09-12 15:45] thednp commented on #69
The tween object stores the original `d` attribute value somewhere, but you can do something more simple:

[code]

Cool?

[2017-09-12 19:57] #69 closed

[2017-09-23 11:36] atb00ker opened #70 "Icon for KuteJs! :D"
Does KuteJs have an icon under development?
If no, then is there a need for the icon?

[2017-09-23 11:49] thednp commented on #70
Nop, not yet, feel free to submit one ;)

[2017-09-27 14:18] thednp commented on #37
It seems our `scroll` property isn't working anymore with more up to date Chrome versions like Canary, so we seem to have to get to it.

[2017-10-18 19:59] dgcoffman opened #71 "undefined is not an object (evaluating 'r.now') in Safari 9.1.3"
After upgrading to React 16, we are seeing a great deal of these errors:

<img width="1060" alt="screen shot 2017-10-18 at 12 54 29 pm" src="https://user-images.githubusercontent.com/1711204/31739684-8e331542-b403-11e7-910b-f8afcce3ef89.png">

Affecting primarily Safari 9.1.3 with `"kute.js": "1.6.5"`

Appears to be throwing on kute.js line 686

[code]

because `time` is undefined.

`time` is inst

[2017-10-18 20:05] thednp commented on #71
Does it happen with previous versions?

Can you paste the result of `window.performance.now()` from Safari console?

[2017-10-18 20:08] thednp commented on #71
I think you need a mock browser.

[2017-10-18 20:12] dgcoffman commented on #71
Yes.

Safari 9.1.3 does define `window.performance`.

<img width="352" alt="screen shot 2017-10-18 at 1 11 49 pm" src="https://user-images.githubusercontent.com/1711204/31740360-f864012c-b405-11e7-99a3-e15f4086093e.png">

[2017-10-18 20:15] thednp commented on #71
Must be something with the app you're building. But I do wish to fix this. Is there a way to check time under your environment?

[2017-10-18 20:16] dgcoffman commented on #71
What do you mean?

[2017-10-18 20:32] thednp commented on #71
`window.performance.now()` returns the exact milisecond it finishes executing

[2017-10-18 20:33] dgcoffman commented on #71
Babel transpiles the relevant section of kute.js to

[code]

[2017-10-18 20:34] dgcoffman commented on #71
Yes, the environment is some user's browser.

[2017-10-18 20:43] thednp commented on #71
well, replace `n` with `global` for now. but it should work...

[2017-10-18 20:57] thednp commented on #71
Please download the demo and do some tests, let me know if you find anything interesting in the console.

[2017-10-19 05:15] dgcoffman commented on #71
I'm stumped. ¯\_(ツ)_/¯

[2017-10-19 05:49] thednp commented on #71
I think I figured out. Don't do BABEL to KUTE.js, it's ES5 already, so just use as is. A future version will be ES6 so you can do more stuff.

[2017-10-21 17:41] #71 closed

[2018-01-03 18:28] shenyingzxc opened #72 "Color morphing not working?"
Hi, thank you for developing such a great plugin!

I'm having some trouble with changing the fill of the path when morphing from one path to another (using the svg plugin). Code I tried seems to match what you have on https://thednp.github.io/kute.js/assets/js/svg.js in terms of using attr: { fill: 'color' }, but the color isn't changing from the initial values used. I wondered if it was because I

[2018-01-03 19:35] thednp commented on #72
Hi. You need the attr.js plugin to do attributes animation. Check the [docs](http://thednp.github.io/kute.js/attr.html) for more.

[2018-01-03 19:35] #72 closed

[2018-01-05 06:02] shenyingzxc commented on #72
Thank you! I understand now and everything works great! :D

[2018-01-24 21:36] nbdamian opened #73 "Callback References"
Would it be possible to add references to the Tween inside the callbacks?
E.G
`if (this[options].complete) { this[options].complete.call(this); }`

[2018-02-13 06:19] peterennis opened #74 "KUTE is not a function"
I have been running KUTE with Ionic.
Using the new lazy loading breaks it.

kute-svg requires kute, but I can only declare one var for KUTE.
When I try to import both it fails.

There is a ticket open for "one bundle". I guess that would
fix my problem but do not know enough about KUTE to fix it.

[code]

Any suggestions on how to fix this?

![capture239](https://user-images.githubusercontent.com/

[2018-02-13 07:19] thednp commented on #74
Load it with your scripts in your footer and you're fine.

[2018-02-13 07:19] #74 closed

[2018-03-21 12:59] nicoladl opened #75 "import kute-svg empty"
Hi guys, I'm developing a Vue.JS website and I'm interested to use Kute-svg to morph some svg.
I've installed Kute via npm but when I try to import kute-svg the object is empty.

`import KUTE from 'kute.js`

return the full object

<img width="634" alt="schermata 2018-03-21 alle 13 57 38" src="https://user-images.githubusercontent.com/2022727/37711111-ffbc8cae-2d0f-11e8-9156-e2a549a005c9.png">

`i

[2018-05-01 20:11] jolugama opened #76 "close() not working"
_kute=KUTE.fromTo(from,
			{
				path: from
			},
			{
				path: to
			},
			{
				easing: 'easingBackOut',
				yoyo: false,
				repeat: 0,
				duration: 400,
				morphIndex: 127,
				morphPrecision: 1
			}
		).start();

......

_kute.close()    <-- not working

[2018-05-01 20:32] #76 closed

[2018-05-18 23:06] unkerjay opened #77 "Morph from one color SVG to another"
Here's my SVG.  Have downloaded kute.js.

[kb_2col_SVG.zip](https://github.com/thednp/kute.js/files/2018852/kb_2col_SVG.zip)

The examples just confuse me.

Inkscape SVG.  Converted and saved as paths.

How to morph from one to the other.

Possible?

[2018-05-19 07:01] thednp commented on #77
The markup is not valid.

[2018-05-19 07:01] #77 closed

[2018-05-21 22:19] bresson commented on #37
Unfortunately I can confirm the codepen scroll example fails in Safari:
https://codepen.io/thednp/pen/bVqKmp/

[2018-05-22 05:09] thednp commented on #37
I think the next version re-roll might fix that. If Safari is still following the Chromium that is.

[2018-06-23 13:21] mikestempien opened #78 "Support for scaleX / scaleY"
Would be great to have the ability to tween scaleX and scaleY separately

[2018-06-23 14:17] mikestempien opened #79 "repeatDelay doesn't seem to work"
It appears that repeatDelay doesn't have any effect: https://codepen.io/anon/pen/gKKxgZ

[2018-06-23 14:59] thednp commented on #78
Not interested in this functionality, but you can always fork the code and make it work your way.

[2018-06-23 14:59] #78 closed

[2018-06-23 16:14] thednp commented on #79
It only works with `yoyo: true`

[2018-06-23 16:14] #79 closed

[2018-06-29 07:17] thednp commented on #75
I don't actually know how to fix this. I will leave this open maybe someone has any idea.

[2018-07-09 16:35] cgu-pix opened #80 "Conflict with transform on Firefox"
Hi,

I use SVG plugin. When morphing is running, the css transform property on an another element (to do a flip card) doesn't work. There is like a glitch. It seems there is a conflict.
If I disable KUTE.js or as soon as morphing is complete, everything works fine, the flip doesn't glitch anymore.
And this problem is only on Firefox. With Chrome, everything looks good, both svg morphing and css tr

[2018-07-09 17:23] thednp commented on #80
I don't know, do you have a demo with the issue?

[2018-07-10 12:42] cgu-pix commented on #80
Yes, but could you give me an email that I can use to send you a private access ?

[2018-07-10 13:01] thednp commented on #80
Just make a new pen with the issue, it will take a few minutes to setup.

[2018-07-10 14:13] cgu-pix commented on #80
Here the pen : https://codepen.io/anon/pen/qyBpBz
With Firefox, the grey flip card don't work

[2018-07-10 18:55] thednp commented on #80
That isn't JavaScript animation powered by KUTE.js, it's just some CSS3. You need to do some Google.

[2018-07-10 18:55] #80 closed

[2018-07-11 07:12] cgu-pix commented on #80
Yes, I know that.
The problem is when I enable KUTE.js, the transform doesn't work anymore. If I disable it, everything works fine. The transform of the flip card is ok. So I think there is a conflict with KUTE.js, but I didn't find why...

[2018-07-16 08:56] diafygi opened #81 "How to stop ticker()?"
Does anyone know how to stop the `ticker()` when all your animations have stopped?

Example:
[code]

If you run a performance monitor in your browser debugger, you can see `requestAnimationFrame` still being called even after the animation is done and and `tween.stop()` has no effect (which I guess makes sense because the tween is already done by the time `tween.stop()` is called).

![screenshot_2

[2018-07-16 15:47] thednp commented on #81
The `ticker` is set to stop automatically after all tweens are finished, perhaps you have something still running outside the viewport?

[2018-07-16 17:21] diafygi commented on #81
Hmmm, then why am I seeing the call to `requestAnimationFrame` in the debugger in the above example even after the tween is finished?

(the full example html is in the initial bug post, it's super short)

[2018-07-17 05:48] thednp commented on #81
It seems that Google Chrome doesn't have this issue, just Firefox and MS Edge continue to use `ticker` after animation is finished. At this point I think these browsers don't use the `cancelAnimationFrame` properly.

[2018-07-17 10:56] Kay2dan opened #82 "Is Kute still being actively developed"
From the docs, I am really attracted to Kute.js for the new project I am working now. Its mainly between Kute.js or Anime.js.

My two questions are:

1 - Is Kute actively being worked on?

2 - Is it hardware accelerated as the rest of them.

Many thanks for working on this & making such an awesome library!

[2018-07-17 14:17] thednp commented on #82
`1 - Is Kute actively being worked on?` YES, it's being improved with every new idea. However we haven't had any new ideas in a long time and not EVERY idea is making it to the development board.

`2 - Is it hardware accelerated as the rest of them.` YES, like anything that uses `requestAnimationFrame`

[2018-07-17 14:17] #82 closed

[2018-07-17 17:07] diafygi commented on #81
Hmmm, in Chromium on Linux, I'm still seeing the same behavior as Firefox (see screenshot below).

From digging into the code, it looks like `!tweens[length] && stop();` is where the issue is[1]. When I debug this line in the initial example, `tweens[length]` is `1`, so `stop()` never fires.

[1] - https://github.com/thednp/kute.js/blob/master/kute.js#L483

![screenshot_2018-07-17_09-59-18](https:

[2018-07-17 17:09] thednp commented on #81
Can you try to add stop after a 30-60 miliseconds timeout?

[2018-07-17 22:15] diafygi commented on #81
Ok, so I think I know what's going on:

* In `close()`, it checks to see if there's any tweens left and stops if there's none (`!tweens[length] && stop();`)[1].
* However, `tweens` gets emptied in `ticker()`[2], so a race condition happens where `close()` runs before `ticker()` can remove the complete tween.

Possible solutions:
* In `ticker()`, check to see if tweens is empty before calling `_req

[2018-07-19 05:41] thednp commented on #81
OK I put up a small `setTimeout` back in place to make sure we do fire the `stop` callback.

Please do me a favor and test the latest master, let me know how it goes.

[2018-07-20 00:46] diafygi commented on #81
@thednp Yep! That works for me.

[2018-07-20 00:46] #81 closed

[2018-08-08 06:15] carlotta11 opened #83 "Animation along one path is missing"
What's missing is the possibility to animate something along one given path, or couldn't I get it? The draw-function could be something, but I can't get it work.

[2018-08-08 07:30] thednp commented on #83
KUTE.js currently doesn't support that.

[2018-08-08 07:30] #83 closed

[2018-08-09 13:30] carlotta11 opened #84 "How can I pause/resume multiple tweens?"
My tweens are some kind of a storyboard. One after the other are animating different things.
So now I've got 20 different tweens. How is it possible to pause and resume this whole story?
I've tried it with chain like this:
var tween1.start();
tween1.chain(tween2,tween3,...);

...
tween1.pause();
...

but it pauses only, when tween1 is playing.
Should I pause every tween?
And if so - how do I know

[2018-08-09 14:33] thednp commented on #84
Make an array with your chained tweens then you can do something like this

[code]

and

[code]

Neat?

[2018-08-09 14:33] #84 closed

[2018-11-05 12:33] thednp commented on #37
@bresson I've updated that pen with something new, basically if you can provide a true global scroll target (EG: `HTML/BODY`), it should work perfect.

[2018-11-12 23:03] DavidJAldred opened #85 "Logo for KUTE.js 😊"
Great library! Noticed you didn't have a logo yet and thought I'd submit one.

What do you think of this?

![kutejs](https://user-images.githubusercontent.com/33041809/48379435-0bc55a00-e6cc-11e8-9cdf-6a263ee898b7.png)

[2018-11-13 10:52] thednp commented on #85
Thanks, I like it.

[2018-12-17 09:44] metaseb commented on #60
You answer at this question don't make any sens.
So, your way is the best way, "Trust me"   ...   No, why?

At least you could describe this behaviour somewhere.

[2018-12-24 16:20] Skayona commented on #43
For me works next:

`const tween = KUTE.to('#wave-1', {
    path: '#wave-2'
  }, {
     duration: time,
    repeat: 1,
    yoyo: true,
    easing: 'easingCubicOut'
    update: function () {
      if (! tween.options.repeat) {
        tween.options.repeat = 1;
      }
    }
  });

  waves.start();`

[2019-02-15 11:15] airarm opened #87 "KUTE.js use without build"
I want use KUTE.js without building js
https://www.screencast.com/t/EUC7wXPpkE4
How I can make it ?

[2019-02-15 11:38] thednp commented on #87
**Some suggestions:**

* Use KUTE.js in your site `<body>` (at the end) to get rid of that error, also use all your animation scripting
* Starting with 1.6.6 we're not actively supporting the jQuery plugin, but it's still available with 1.6.5

[2019-02-15 11:38] #87 closed

[2019-04-16 19:08] mistergibson opened #88 "Documentation - Callbacks : I don't see any docs for implementing callbacks."
As per Issue #73

You indicated that you added a callback option, but it is in nowhere on your KUTE site documented in the least degree. I'd like to mess with it, could you point me to some example code implementing this? Better still - could you update your Documentation / API Reference pages to include this option?

Thanks

[2019-04-17 03:41] mistergibson commented on #88
Never mind I found it :)

http://thednp.github.io/kute.js/options.html

[2019-04-17 03:41] #88 closed

[2019-04-19 00:16] mistergibson opened #89 "Feature Request: Accept plain old Array of Elements for allTo and allFromTo"
I notice that you only accept a Nodelist for processing multiple element targets. This data type is excruciatingly difficult to work with -- as opposed to the humble Array. I'd really like more flexibility on gathering a list of targets and sending them into a KUTE. I can easily construct an Array of Elements about a dozen ways, which makes the entire thing much more fun.

What would it take to su

[2019-04-19 12:51] thednp commented on #89
Sounds interesting enough for me. It would take some time to queue this up into main focus.

[2019-04-28 00:06] mistergibson opened #90 "clobbers ALL style settings instead of just updating opacity"
When I set a from opacity and a to opacity - the animation runs perfectly. However, ALL my other style settings (background-color, position, etc...) on the div get wiped out and the only style element left is the opacity setting. Is this intentional, or did you intend to merely update ONE key/value pair in the style settings set?

[2019-04-28 00:32] mistergibson commented on #90
Uh oh -- FALSE ALARM. It turned out to be an obscure bug in my OWN code ... sorry to pester you.

[2019-04-28 00:32] #90 closed

[2019-05-08 01:00] laujonat commented on #75
@nicoladl hi, did you ever solve this? I'm running into the same issue with this.

[2019-05-08 05:32] thednp commented on #75
@nicoladl I don't actually use this functionality but at least I can say that plugins only fill KUTE main object with additional functionality, If you have a look at the [getting started](http://thednp.github.io/kute.js/start.html) documentation page, I would guess you need to request plugins via `import 'kute.js/kute-svg' from 'kute.js'`, at least according to the contributors from the community

[2019-05-10 07:18] #75 closed

[2019-05-28 15:30] shanekoss opened #91 "Usage with React"
Having some issues getting this to work with React.  Am I missing something silly?

Recreated this example:

https://codepen.io/thednp/pen/NGpYmM/

here:

https://codepen.io/techsmechs/pen/mYjGEg

but as you can see - no animations occur.  Any ideas?

Thanks!

[2019-05-28 15:45] thednp commented on #91
I've added `duration: 15000` to your tween objects and checked the console, the numbers are updating, properly, for some reason your box is either hidden or the background didn't load for some reason.

[2019-05-28 15:45] #91 closed

[2019-05-29 00:55] shanekoss commented on #91
Thanks for the speedy reply.

Pilot error - the css plugin needs to be required!

codepen - add:
https://cdnjs.cloudflare.com/ajax/libs/kute.js/1.6.2/kute-css.min.js

in react - add:
require("kute.js/kute-css");

cheers!

[2019-07-25 11:12] JorgeHawkins opened #92 "Issues with Electron"
Hi, I've been trying to use KUTE.js with Electron Framework, but the following error triggers if trying to use relative paths for the JS files:

`internal/modules/cjs/loader.js:659 Uncaught Error: Cannot find module './kute.js'
Require stack:
- C:\Users\jhawkins.admin\Desktop\DevelopmentTest\index.html
    at Module._resolveFilename (internal/modules/cjs/loader.js:659)
    at Function.Module._reso

[2019-07-25 12:12] thednp commented on #92
Try

[code]

[2019-07-26 01:34] JorgeHawkins commented on #92
![image](https://user-images.githubusercontent.com/12333516/61919499-c029a800-af0a-11e9-86b5-504a02d425f3.png)

The following error appears if I try to `require` it from the `npm ` plugin folder.

[2019-07-26 09:24] thednp commented on #92
Well it seems you're linking the script in the `<HEAD>` or you're trying to animate elements that aren't present withing the DOM, which isn't what this library was supposed to do

[2019-07-27 00:17] JorgeHawkins commented on #92
No, the script call is within the `body `element. However, I just found that a restriction inside my Electron `initialize` script was the culprit. For those who might have similar issues in the future, check the flags you have set up in your Electron app.

You can set up some flags in Electron through the `appendSwitch` function (specifically `app.commandLine.appendSwitch`) which might cause some

[2019-07-27 00:17] #92 closed

[2019-08-18 05:03] MrGlasspoole opened #93 "Animation on scroll (hide/show button)"
I'm trying to get rid of jQuery and found this super coll thing called KUTE :-)

I want to hide and show a animated back to top button.
The problem i have is that the animation is running every time i scroll.

If you do this with jQuery it does not happen:
[code]
What i have so far:
[code]

So how to do it with KUTE and that there is no interference between show and hide.

[2019-08-18 07:13] thednp commented on #93
In this case the `tween.playing` is not enough, I recommend to filter every opacity "state" with a class name check that you insert, for instance `top1animated`, and removed when `hideBc2Top` is complete. Also checking if element is in viewport also helps because you don't want to trigger the entire calculation for the entire page, it's much of a burden for your application.

Hope that helps.

[2019-08-18 07:13] #93 closed

[2019-08-18 11:46] MrGlasspoole commented on #93
No doesn't really help because I'm not really good at JS :-(
Took hours to figure out what i have now.

[2019-09-17 13:47] rborn opened #94 "ReactNative 😅"
Is it possible to use it with ReactNative ?

[2019-09-17 14:54] thednp commented on #94
I don't know, but if your KUTE.js animation code runs after DOM changes, it should be fine.

[2019-09-18 07:46] rborn commented on #94
Thnx for the reply - kute depends on DOM, right? if yes it won't work :)

[2019-09-18 08:10] thednp commented on #94
Also requires `window` for the `to()` method where `getComputedStyle()` is used.

[2019-09-18 08:26] rborn commented on #94
Thanks for explaining 🤗

[2019-09-18 08:26] #94 closed

[2019-10-03 18:26] peterennis opened #95 "Is there a kute minified version?"
I am using v1.6.6 and the node_modules does not show any min versions.
Is this correct?
I would like to reduce js loading times.

![Capture683](https://user-images.githubusercontent.com/140737/66153542-94910100-e5d0-11e9-8e4c-7f25ca8dfe54.png)

[2019-10-04 07:15] thednp commented on #95
It's not delivered via NPM, you can build your own packages with minify in mind. Future versions will be ES6 modules.

[2019-11-06 21:37] doriantimmermans opened #96 "Is there a way to control the time progression of the tween?"
Hi, thank you for this amazing lib !

I was wondering if there is a way to create a slider that would control the progression of the tween animation? Like at one side it's the first .svg, at the other side it's the second .svg, and you can move the slider forward and backward the see the animation progress.

Thank you !!

[2019-11-07 05:04] thednp commented on #96
Hello there.

I haven't found this to be important/useful just yet, but it shouldn't be hard to make a slider with values from 0 to 1, stepping 0.001, attach a `change` handler to it and make use of the `KUTE.dom` update functions in the handler. This should only work for `fromTo` tween objects.

[2019-11-07 15:06] thednp commented on #96
Update: [check this out](https://codepen.io/thednp/pen/MWWGXVO)

[2019-11-07 15:06] #96 closed

[2020-01-12 11:00] thednp commented on #89
@mistergibson

I'm now working on the next version of KUTE.js, is this OK to you?

[code]

[2020-01-12 14:36] thednp commented on #85
Hey there! You still kute?

[2020-01-12 17:52] DavidJAldred commented on #85
Of course!

[2020-01-12 18:31] thednp commented on #85
Well, get ready for a big new version coming very soon to your PC, I was thinking maybe we can have more variations of this logo, perhaps more tech-ish?

Will also need an SVG source for some cool animations :)

[2020-01-13 02:34] DavidJAldred commented on #85
That's great news, thanks for your hard work!

What did you have in mind? Change of colours or new font perhaps? I don't have a lot of time at the moment, I'll see what I can do, or maybe someone else could have a go?

You actually already have an outlined version of the logo as an SVG in my pull request #86, but here's the SVG for the version above:

[code]

[2020-01-13 05:18] thednp commented on #85
Since we're going for a very specific audience and we're talking about KUTE.js, let's talk some ideas:
* we now have it all ES6/ES7 code (I need to complete svg and attr, plus couple extra), all that jazz import, export rollup is now a thing in KUTE.js, I can hardly believe it myself, at no expense on performance or functionality, so the logo should speak about some "modularity inside"
* the new v

[2020-01-14 10:51] thednp opened #97 "ES6/ES7 development roadmap"
Hello there.

I'm working on a new ES6/ES7 version of KUTE.js, some changes so far:
* massive code changes, some objects re-purposed, others renamed or removed, but we can have it all delivered nicely via rollup, for any configuration and purpose. **warning** this can potentially break your custom properties, the documentation will be updated to help you fix them
* massive code simplification in t

[2020-01-25 10:12] #95 closed

[2020-02-18 15:18] hristov296 opened #98 "How exactly does morphing works?"
I can't for the life of me understand the morph and the morphPrecision and morhpIndex attributes. I have a shape with starting and ending path. I would really like to have it travel the least distance possible. The right part of the shape is basically the same in both cases. Can I make it so that only the left part sort of expands until it reaches the final path? Without any rotations, as it is no

[2020-02-18 15:31] thednp commented on #98
You can configure your morph animations [here](https://codepen.io/thednp/pen/YGayLg).

I recommend that you check the [documentation](http://thednp.github.io/kute.js/svg.html) but be aware that soon, the demo and the entire KUTE.js code base will be updated to ES6/ES7.

[2020-02-20 07:55] thednp commented on #98
The demo page explains how the library works, but perhaps the shapes you're morphing are too large, looking at the `viewBox="0 0 1920 937"`, but the shapes are actually very simple.

I believe you can try and use [svgpath](https://github.com/fontello/svgpath) to scale down your shapes, might improve the visual experience of your specific animation.

[2020-02-20 07:55] #98 closed

[2020-02-24 10:57] hristov296 opened #99 ""document" is not available during server side rendering."
I tried searching for this, but couldn't find relevant issues.
I am using kute to make animations in a gatsby generated site. When I do the gatsby `build` command, I get this error:

`
  17 |   var g = typeof global !== 'undefined' ? global : window, time = g.performance,

     | ^
  19 |
  20 |     // strings
  21 |     length = 'length',

  WebpackError: ReferenceError: document is not defined
`

[2020-02-24 11:09] thednp commented on #99
@hristov296 thanks for the input. Please stand by and prepare for the KUTE.js v2.0 script coming soon to the MASTER branch, I will probably need your help there to solve these server issues.

Cheers.

[2020-02-24 11:10] hristov296 commented on #99
That's awesome, I'm waiting for it. When to expect it, estimated?

[2020-02-24 11:13] thednp commented on #99
Hard to say, I'm working on documentation, perhaps 70-80% done. But the script is AWESOME both quality and performance.

[2020-02-24 11:14] thednp commented on #99
You can help me by telling me what is the NAME of the global variable in the server?

[2020-02-24 11:19] hristov296 commented on #99
Do you mean like `window` in the browser? I don't think there is such. I am not too competent about these stuff

[2020-02-24 11:24] thednp commented on #99
What if you define an empty object `{}` as global we need for that `g` var?

[2020-02-24 11:39] hristov296 commented on #99
The problem is on line 18
`    body = document.body, tweens = [], tick = null, // tick must be null!!`
when it sees `document`, it throws error `document is not defined`. During server side rendering there is `window` or `document`. I think gatsby(and any building tool like it) can just skip the module, because it doesn't do anything on the server side. I was able to do this by exiting early from

[2020-02-24 11:48] thednp commented on #99
OK, tell me how this works

var g = typeof global !== 'undefined' ? global : self||window||{}

[2020-02-24 12:32] hristov296 commented on #99
still throws the error
![image](https://user-images.githubusercontent.com/18082688/75152760-760fdb80-5712-11ea-8cd8-54f15ebb5e77.png)

[2020-02-24 12:47] thednp commented on #99
But no longer complain about `g`.

[2020-02-24 12:53] hristov296 commented on #99
Sorry, I might have worded it poorly. My last screenshot was the error all along.

[2020-02-24 12:54] thednp commented on #99
Well then, why don't you wait a couple of days, you gonna build KUTE.js your way with rollup, OK?

[2020-02-24 12:56] hristov296 commented on #99
Yeah that is fine

[2020-02-24 12:59] thednp commented on #99
To my understanding, you're using webpack for custom app.js builds?

[2020-02-24 13:02] hristov296 commented on #99
Yes it's webpack, but it's not custom. It's setup by [gatsby](https://github.com/gatsbyjs/gatsby). Specifically, their `npm run build` script

[2020-03-10 00:38] aaronsmulktis commented on #67
Thanks @thednp, this answer helped a lot!

[2020-03-10 00:40] aaronsmulktis commented on #67
Thanks @thednp, your answer (and pkg) was exactly what I was looking for.

@patrickbjohnson I ended up doing this to accomplish what you are asking about:

`var tween1 = KUTE.fromTo(
  "#car1",
  { path: "#car1" }, // from shape
  { path: "#car2" }, // to shape
  {
    // options
    easing: "easingCubicInOut",
    // yoyo: true,
    // repeat: 99,
    // repeatDelay: 1200,
    duration: 800,

[2020-06-09 20:25] thednp commented on #89
https://thednp.github.io/kute.js

[2020-06-09 20:25] #89 closed

[2020-06-09 20:25] thednp commented on #85
@DavidJAldred

https://thednp.github.io/kute.js

:)

[2020-06-09 20:26] thednp commented on #38
https://thednp.github.io/kute.js

[2020-06-09 20:26] #38 closed

[2020-06-09 21:10] #97 closed

[2020-06-09 21:15] thednp commented on #99
https://thednp.github.io/kute.js/

[2020-06-09 21:15] #99 closed

[2020-06-09 23:33] DavidJAldred commented on #85
Fantastic work and great animations! The new site looks professional and modern. Love it!

[2020-06-09 23:33] #85 closed

[2020-06-10 05:17] thednp commented on #70
New live demo has it's own favicon and a kinda logo. Check them out!

[2020-06-10 05:17] #70 closed

[2020-06-11 17:01] thednp commented on #37
Probably `scroll-behavior: smooth` for now LOL

[2020-06-11 17:01] #37 closed

[2020-06-18 10:45] sebastianwebb opened #101 "Following your matrix decompose trail"
Hey,

I've been trawling through various npm packages in the hope of finding a way to decompose a CSS 3d transform matrix back to the transform function values (e.g. rotateX, scaleZ etc), and I keep seeing your posts popping up :)

Did you end up using mat4-decompose or morf.js in the end?

Thanks!
Sebastian

[2020-06-18 11:18] thednp commented on #101
None, I rely entirely on `DOMMatrix()` API, for my use case I don't really need it.

[2020-06-18 11:19] sebastianwebb commented on #101
OK, thanks for letting me know!

[2020-06-18 12:44] #101 closed

[2020-08-12 07:19] JensB74 opened #102 "'to' does'nt pick current values after 'fromTo' (newby question, perhaps I'm a fool)"
Hi together,

I have the following piece of code to entrance a screenshot:

[code]
[code]

which works great!

After 2 seconds, I want to exit the screenshot with this code:

[code]

The delay works, but the rest .. not. No animation, the screenshot will be displayed directly on the starting position from the "fromTo" starting values, but with opacity:1.

I thougth the "to" method gets the current

[2020-08-12 08:32] thednp commented on #102
I cannot confirm or deny, I need a test site and a step-by-step guide to reproduce.

[2020-08-12 08:46] JensB74 commented on #102
Thank you for you answer, I work on this site you can visit redesign.selisky-design.de, step-by-step: only visit the page, the animation comes up ;)
The build is 1.6.5, because it's a module of the cms we use (Contao), perhaps, this is the problem .. I can try to use the 2.x ..

[2020-08-12 09:41] thednp commented on #102
Please try the latest version and let me know how it goes.

[2020-08-12 09:46] JensB74 commented on #102
redesign.selisky-design.de/kutest.html with latest Version - unfortunately the same problem :/

I think I will do it with "fromTo" and use the end-values as start-values ...

[2020-08-12 10:03] thednp commented on #102
No, you can't do 2 tween animations at the same time, the delay won't help. You need to make use of `.chain()` method. Also please use the latest version.

[2020-08-12 10:07] thednp commented on #102
The "remove_screen_1" animation may not have proper values since previous tween haven't finished yet, but I don't understand why you don't try my [Spicr](https://github.com/thednp/spicr)

[2020-08-12 10:12] JensB74 commented on #102
Ok, thanks a lot for your help! I will try chain() method and Spicr! I think you can close this, because it was a nooby question, if you want/can you can delete this too, because of the links in here .. if it's possible.

[2020-08-12 10:29] thednp commented on #102
I will edit your posts with links and close.

Cheers

[2020-08-12 10:29] #102 closed

[2020-08-13 23:13] b4r3k opened #103 "If a tween completes while another is paused, the paused tween is broken."
Hi there,

I think I found a bug (or maybe I'm doing it wrong).

As the title explains, trying to resume a paused tween after another tween has completed gives the following error:

Is it normal and is there a way to prevent it?

I've created a codepen to easily test it:
https://codepen.io/b4r3k/pen/wvGMQBZ

[2020-08-14 11:31] thednp commented on #103
Hi there.

I suspect this must be related to the new queue functionality for the execution context. I can't think of a way around this, but I will provide a fix and let you know.

[2020-08-14 11:38] thednp commented on #103
[Try this](https://codepen.io/thednp/pen/rNexEvw) and lemme know.

[2020-08-14 13:10] b4r3k commented on #103
It works like a charm, thanks :)

[2020-08-14 13:39] thednp commented on #103
Will be published asap then, cheers.

[2020-08-14 13:39] #103 closed

[2020-08-29 15:02] zerismo opened #104 "Svg transform not working with 2.0.13"
Tried using svg transform with the following code:

[code]
The HTML is as follows:
[code]

[2020-08-29 15:25] thednp commented on #104
I'm currently working on KUTE.js next version, please commit your example to fiddle or something so I can test on the spot.

Thanks

[2020-08-29 16:22] thednp commented on #104
I just tested your example, cannot confirm.

[2020-08-29 16:22] #104 closed

[2020-08-30 19:49] zerismo commented on #104
@thednp , this is the fiddle for the above issue. https://codepen.io/zerismo/pen/MWyodPa

[2020-08-31 06:43] thednp commented on #104
@zerismo [this is the official build](https://github.com/thednp/kute.js/blob/master/src/index.js) now, it doesn't feature the SVGTransform component anymore, you need to create your own custom builds. Perhaps you can use the `index-extra.js` build or a custom variation of that, with exactly what you need.

[2020-08-31 15:18] thednp commented on #104
@zerismo, just to be clear, there is a reason why this component is not featured with the official distribution build, here's a quick note from the [TransformMatrix](https://thednp.github.io/kute.js/svgTransform.html) demo page (something you should consider using):

Hope this makes it super clear. Cheers :)

[2020-08-31 18:46] Mar0cas opened #105 "[Question] Kute Morph"
When using morph, with click events, how can we revert to original path?
On first click go to Star, on second click revert to Rectangle?
`
KUTE.to('#rectangle', { path: '#star' }, { duration: 250 });
`

[2020-08-31 20:22] thednp commented on #105
You can store the all path strings like this

[code]

[2020-08-31 20:22] #105 closed

[2021-02-01 17:26] KingSupernova31 opened #106 "Shapes that are not topologically circles are handled poorly"
Here is a ring being morphed into an identical ring. The animation should be do nothing visually, but instead it flashes completely black. If you change the morphIndex property, you seem to get different but equally poor animations.

https://codepen.io/KingSupernova/pen/wvoawqB

[2021-02-01 19:32] thednp commented on #106
You are 2-3 years behind. Perhaps check the demo and the updated npm/cdn and git?

[2021-02-01 19:40] KingSupernova31 commented on #106
Whoops, thanks. That doesn't solve the issue though. I updated the codepen with the most recent Kute version, the problem is still occurring.

[2021-02-01 19:54] thednp commented on #106
You have two components for SVG Morph, only one is available on CDN, but sources are all available on CDN and npm

* [SVG Morph](https://thednp.github.io/kute.js/svgMorph.html) (our default component)
* [SVG Cubic Morph](https://thednp.github.io/kute.js/svgCubicMorph.html) (the other younger component)

Also you have the [SVGPathCommander](https://github.com/thednp/svg-path-commander) you can play

[2021-02-01 20:37] KingSupernova31 commented on #106
I'm not sure what you mean. You're saying I'm missing something?

I know that morphIndex is no longer needed, and it's not used in my example code. I was just mentioning that its inclusion changed the behavior in case that helped nail down the issue. There's no need to be condescending.

The code I provided is an **example** of the problem. It's not my actual use-case.

[2021-02-01 20:55] thednp commented on #106
It's possible that the default morph component cannot process those paths for some reason I can't figure out, I only suggest to download the code and try the other component, bundled with `kute-extra.js` file, that's a completely different beast, so let me know how that goes.

[2021-02-04 05:22] thednp commented on #106
There has been a change to our SVGPathCommander, something related to decimal rounding of path data and ellipse, can you please update a it in your KUTE.js local repo and test your issue?

That would be great.
Thanks

[2021-04-02 21:20] thednp commented on #106
I consider this as resolved, especially after ESLint validation was implemented.

[2021-04-02 21:20] #106 closed

[2021-07-30 23:32] joaoggnogueira opened #107 "SVGTransform doens't working on v2.1.2"
I'm using this import statement

`import KUTE from "kute.js"`

when I run this code

[code]

over this SVG

[code]

Literally, nothing is happening, whats happening?

`"kute.js": "^2.1.2",`

Codepen

https://codepen.io/joao_nogueira/pen/BaRxqjN

[2021-07-30 23:54] joaoggnogueira commented on #107
The KUTE.js works fine on version 2.0.2, but 2.1.2 dont

[2021-07-31 03:27] thednp commented on #107
**SVGTransform** is not included in the default distribution file anymore. You can use the `kute-extra.js` file for that.

[2021-08-02 15:10] #107 closed

[2021-08-02 15:10] joaoggnogueira commented on #107
@thednp Thanks for reply

[2021-10-25 09:10] itpropro opened #108 "TypeScript support"
Hey,
Thanks for your hard work on this great animation library!
I wondered if there are any plans to make type definitions available in order to use it properly in TypeScript based projects?

[2021-10-28 15:12] Thamjith opened #109 "ReferenceError: window is not defined"
Im getting "ReferenceError: window is not defined" while using kute.js on a next.js project.

[2021-10-30 06:35] thednp commented on #109
Can we have the full error report?

[2021-10-30 13:00] Thamjith commented on #109
ReferenceError: window is not defined
    at D:\Personal Projects\PersonalWebsite\node_modules\kute.js\dist\kute.min.js:2:1264
    at D:\Personal Projects\PersonalWebsite\node_modules\kute.js\dist\kute.min.js:2:84
    at Object.<anonymous> (D:\Personal Projects\PersonalWebsite\node_modules\kute.js\dist\kute.min.js:2:199)
    at Module._compile (internal/modules/cjs/loader.js:1072:14)
    at Object

[2021-10-30 13:01] Thamjith commented on #109
![image](https://user-images.githubusercontent.com/24909620/139533807-b9ac0c62-fff3-48af-a339-b9d78d8b3638.png)

[2021-10-30 13:02] Thamjith commented on #109
just create a default nextjs app and import the kutejs library. Then you will get the error.

[2021-10-30 19:00] thednp commented on #109
Can you please test the master version? I remember some of my last few commits were addressing this issue.

[2021-11-01 11:17] thednp commented on #109
@Thamjith I'm not familiar with next.js, but I think it's best to mention that KUTE.js cannot work outside the browser scope as it relies heavily on the web API. Also the library works best in a site `<footer>`, not `<head>`.

[2021-11-07 14:06] fredericrous commented on #109
I am able to reproduce the error. The reproduction workflow is straightforward:
- [Create a new nextjs app](https://nextjs.org/docs/api-reference/create-next-app)
- import kute with `import KUTE from 'kute.js'` in any component

window does not exist because NextJS tries to generate SSR. Ideally, Kute.JS should check if the `window` object exists and if it doesn't it should return silently

[2021-11-07 14:59] thednp commented on #109
I forgot to mention I am not familiar with NextJS and I may not have the time to investigate at this time, but I'm open to suggestions.

[2021-11-08 00:27] fredericrous commented on #109
that might not be a perfect solution but basically what I did to fix the issue on nextjs is to add `if (typeof window === 'undefined') return` at the first line of `dist/kute.js`
I opened a PR as a suggestion https://github.com/thednp/kute.js/pull/110

[2021-11-09 14:36] thednp commented on #109
Thanks, I will have a look at this as soon as I can.

[2021-11-10 15:06] thednp commented on #109
@fredericrous @Thamjith please have a minute and test latest master.

Thanks

[2021-11-11 12:19] thednp commented on #109
Can anyone please confirm the fix is working somewhat?

[2021-11-11 14:09] Thamjith commented on #109
@thednp Unfortunately the error is still there. The kute,js version Im using is "^2.1.2". Another thing I observed is while importing kute.js there is a warning

`Could not find a declaration file for module 'kute.js'. 'd:/Personal Projects/test/test/node_modules/kute.js/dist/kute.min.js' implicitly has an 'any' type.
  Try `npm i --save-dev @types/kute.js` if it exists or add a new declaration (.

[2021-11-11 15:11] thednp commented on #109
@Thamjith did you test the master version? Try:

[code]

[2021-11-11 17:20] Thamjith commented on #109
@thednp ,No its still not working. Maybe its something that I have done wrong. Im new to reactjs and nextjs. If there is anyone who has experience in these libraries will help.

[2021-11-11 18:07] thednp commented on #109
We don't have TypeScript adaptation/source, perhaps this could be a problem as well?

[2021-11-12 07:43] thednp commented on #109
I'm reading the [d.ts](https://github.com/thednp/bootstrap.native/blob/master/src/index.d.ts) someone made for my `bootstrap.native` but I will need help with kute.js. Will you guys give me a hand with that?

[2021-11-12 11:15] thednp commented on #109
Guys @Thamjith @fredericrous I've set up a `tsconfig.json` and it seems to work. Now I need to know if you guys need a single file with all declarations or a complete file+folder declaration(s)?

[2021-11-12 13:31] thednp commented on #109
@Thamjith @fredericrous please test latest master

[2021-11-12 13:37] thednp commented on #108
@itpropro I've made a `tsconfig.json` which generates a `typescript/index.d.ts` file, please test latest master and provide feedback.

Thanks

[2021-11-12 14:41] Thamjith commented on #109
I removed kute.js first and then installed the latest master using `npm install thednp/kute.js#master
` but still the error is there.

[2021-11-12 15:41] thednp commented on #109
I see, let's take it one step at a time. First, is the typescript implementation good?

[2021-11-13 10:28] thednp commented on #109
@fredericrous @itpropro @Thamjith please test latest master `npm install github:thednp/kute.js`.

Thanks.

[2021-11-13 16:34] Thamjith commented on #109
It worked.

[2021-11-13 16:56] thednp commented on #109
Please update to KUTE.js 2.1.3 and confirm :)

[2021-11-13 17:03] thednp commented on #108
2.1.3 now has Typescript TYPES.

[2021-11-13 17:03] #108 closed

[2021-11-13 17:43] Thamjith commented on #109
It worked.

![image](https://user-images.githubusercontent.com/24909620/141653690-7aa178aa-1789-4e96-a421-ed09f13aa7fa.png)

You can see the package.json [here](https://github.com/Thamjith/nextjskutejs/blob/main/package.json)

[example](https://nextjskutejs.vercel.app/)

[2021-11-13 18:15] thednp commented on #109
So we can close the issue.

[2021-11-13 19:33] #109 closed

[2021-12-03 18:10] j-vallet-onesys commented on #108
Hi, thanks for the hard work on this awesome library.

However, I have some problems for compiling it on an Angular project.

It could not resolve de dependencies from svg-path-commander :
![image](https://user-images.githubusercontent.com/60925708/144650791-00fcc84a-e5b6-4da7-95a1-af5fd3bdc255.png)

If I replace the full js path by `svg-path-commander` it's working

There is another error on the

[2021-12-03 20:23] thednp commented on #108
I'm currently working on SVGPathCommander and KUTE.js, so feel free to provide any suggestion in regards to TypeScript, I'm still new to this.

[2021-12-05 08:12] thednp commented on #108
@j-vallet-onesys can you please explain what do you mean?

[2021-12-06 08:35] j-vallet-onesys commented on #108
I have replaced this import statements like this in svgMorph.d.ts in the node_module directory of my app and there is no more errors :
![image](https://user-images.githubusercontent.com/60925708/144813272-a58c8361-97af-495d-858b-dc5ce79fe86b.png)

I'm not really used to compile javascript application descriptions for typescript too, but I will make some tests on my side too.

[2021-12-08 21:54] thednp commented on #108
@j-vallet-onesys
Please update to the latest and report any issue.

[2022-03-26 09:00] Xyndra opened #111 "SVGMorph problems"
I am having real troubles with tthe morphing, here is a link: https://codepen.io/xyndra/pen/LYeWOvN

[2022-03-26 09:20] thednp commented on #111
Reading and understanding [the demo/docs](https://thednp.github.io/kute.js/svgMorph.html) is key, I suggest not skipping it next time.

[2022-03-26 09:20] #111 closed

[2022-03-26 11:38] Xyndra commented on #111
I have now edited the code pen and removed the sub-shapes from the sun(all in all making it two single shapes), and it still doesn't work(I am sorry if I overlooked a step, I am a bit to stupid for the docs)

[2022-03-26 12:06] thednp commented on #111
[code]

This works for me, but you need to fix your paths, something is wrong.

[2022-03-26 12:09] Xyndra commented on #111
ok, thanks a lot

[2022-03-26 12:31] Xyndra commented on #111
I found the problem! The morph precision was much to low

[2022-07-17 16:39] srviss commented on #65
<html>
<body>
<div id="setting-error-scan_now" class="notice notice-info settings-error is-dismissible" style="outline: 0px; background: rgb(255, 255, 255); border-width: 1px 4px 1px 1px; border-style: solid; border-color: rgb(195, 196, 199) rgb(114, 174, 230) rgb(195, 196, 199) rgb(195, 196, 199); border-image: initial; box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 1px; margin: 5px 0px 15px; padding: 1

[2022-07-17 16:49] srviss commented on #65
<html>
<body>
<h1 style="display: block; font-weight: 600; color: rgb(29, 35, 39); font-size: 23px; margin: 0px; padding: 9px 0px 4px; line-height: 1.3; font-family: Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spac

[2022-09-30 08:32] HannesGitH opened #113 "update/set tween progress programatically"
i want to set the progress programatically but the `update` method doesn't work like i expected

see example on [codepen](https://codepen.io/HannesGitH/pen/XWqEEzJ)

is this an issue with kute itself or am i doing something wrong?
if the latter please update the docs on how to use the update method / set progress programatically

PS: yes, i've seen the official way with binding to a slider, but in

[2022-09-30 08:33] HannesGitH commented on #113
and even better would be setting the progress of combined tweens (commented in the codepen)

[2022-09-30 09:17] HannesGitH opened #114 "[FEATURE REQUEST] functional API for chaining multiple tweens in one go"
[code]
wouldn't work

instead one needs to apply the chaining 'back to front' à la
[code]
which is kinda cumbersome

see [codepen](https://codepen.io/HannesGitH/pen/XWqEqVg) L20 (wont work) vs L22

[2022-09-30 09:43] HannesGitH opened #115 "prebake animations/tweens for svg morphs"
since svg morphs are quite computationally expensive it would be nice to be able to calculate the morphs and export them (e.g. to .json) similar to Lottie Files, so we could directly load and run the prebaked morphs without needing to recalculate them on every client

[2022-09-30 11:31] HannesGitH opened #116 "async/ non-blocking tween calculation"
since the tween calculation is very slow, it would be nice if it was async, ran in another web-worker

[2022-10-01 03:28] thednp commented on #115
You can already and easily export them. just do
[code]

[2022-10-01 03:28] #115 closed

[2022-10-01 03:29] thednp commented on #116
This feature is real cool indeed, just I don't have the time to develop.

[2022-10-01 03:31] thednp commented on #114
This should work, it did work last time I checked.

[code]

But this should also work:

[code]

We may have to revisit this one.

[2022-10-01 03:34] thednp commented on #113
Yes, because KUTE was developed different from it's parents (tween.js, raphael, etc). We may have to revisit this at some point in time. I'm thinking on ways to make the tween object even smaller, a bit more flexible, and disconnect a DOM node from it, so you should be able to use it with any UI framework there is.

[2022-10-01 03:40] thednp commented on #113
Perhaps this will help.

https://thednp.github.io/kute.js/progress.html

[2022-10-01 11:24] HannesGitH commented on #114
the first one didnt work, but i also didnt know about the second version, which is probably even better in most cases :) thank you

[2022-10-01 11:31] HannesGitH commented on #113
yep this is the one i meant

but as you guessed correctly, i want to use it with svelte and have the animationProgress coupled to some state

[2022-10-01 11:43] HannesGitH commented on #115
so i would call them something like
[code]

and the calculation would be much faster?
(currently its unfeasable for me to use this package since everytime i refresh the page it blocks to page load for like 1sek per svg morph (and i have a couple))

[2022-10-01 11:44] thednp commented on #113
The best I can do right now is to link you the actual [ProgressBar](https://github.com/thednp/kute.js/blob/master/src/util/progressBar.js), perhaps you can find a way to adapt to your Svelte app.

[2022-10-01 11:47] thednp commented on #115
It only takes a few milliseconds to parse, the data is already there.

[2022-10-01 12:57] HannesGitH commented on #116
understandable :)

i dont have time to dig through this package, but i managed to tuck together an `fromToAsync` without touching your code ;)

### interface.ts
[code]

### morphWorker.ts
[code]

### KUTEAsync.ts
[code]

## Usage
[code]

[2022-10-01 13:50] HannesGitH commented on #113
thats where im coming from and
https://github.com/thednp/kute.js/blob/9f8b874567601d038161ee3d1fbac3a692db39bc/src/util/progressBar.js#L78
gave me the idea for my codepen linked above.

but thanks for your help :)
(imma switch to flubber for now tho)

[2022-10-01 13:55] thednp commented on #116
Wow you are awesome! Thanks for that!

[2022-10-01 13:59] HannesGitH commented on #115
thats what i wanted to hear :) nice!

[2022-10-05 03:53] brian2524 commented on #113
Was hoping this would be possible. Any eta on a feature like this or no?